@import '/styles/variables';

:local {
	.item {
		position: relative;
		// К каждому элементу применяется translateZ, который нарушает порядок z-index.
		transform: none !important;

		&:hover {
			.handler {
				display: block;
			}
		}
	}

	.handler {
		background-image: radial-gradient(@dimgrey 40%, transparent 40%);
		background-size: 5px 5px;
		background-repeat: repeat;
		content: '';
		cursor: pointer;
		display: none;
		height: calc(100% - 10px);
		left: 5px;
		position: absolute;
		top: 5px;
		width: 10px;
	}

	.ghost {
		opacity: 0;
	}

	.chosen {
		background-color: #DDF0EB;
	}
}
