:local {
	.editIconContainer {
		background-color: white;
		height: 100%;
		padding: 0 5px;
		position: absolute;
		right: 0;
		top: 3px;
		z-index: 99;
	}

	.formContainer {
		align-items: center;
		display: flex;
		height: 38px;
		width: 100%;
	}
}





