@color: #767676;
@font-size: 14px;

:local {
	.indicatorsContainer {
		display: none;
	}

	.formContainer {
		box-sizing: border-box;
		padding-left: 10px;
	}

	.plusIcon {
		margin-right: 5px;
	}

	.control {
		&:hover {
			.indicatorsContainer {
				display: block;
			}
		}
	}
}

.dashboard__select {
	border: none;
	outline: none;
}

.dashboard__select__control {
	background-color: #EFF3F8;
	border-radius: 2px !important;
	box-shadow: none !important;
	height: 38px;

	&:hover {
		border-color: darkgray !important;
	}
}

.dashboard__select__input {
	font-size: @font-size;
}

.dashboard__select__indicators {
	svg {
		margin-left: 15px;
	}
}

.dashboard__select__single-value {
	font-size: @font-size;
	width: 100%;
}

.dashboard__select__option {
	font-size: @font-size !important;

	&--is-focused {
		background-color: #EBEBEB !important;
	}

	&--is-selected {
		background-color: #F4F4F4 !important;
		color: #000 !important;
	}
}

.dashboard__select__placeholder {
	color: #000;
	font-size: @font-size;
}

.dashboard__select__menu {
	border: none !important;
	box-shadow: 0 0 4px #d9d9d9 !important;
	margin-top: 0 !important;
	z-index: 100 !important;
}






