@import '/styles/variables';

:local {
	.relativeElement {
		height: 0;
		width: 0;
	}

	.title {
		padding: 12px 0;
	}

	.nameField {
		margin-top: 8px;
		width: 300px;
	}

	.infoPanel {
		margin-top: 16px;
	}

	.loaderContainer {
		display: flex;
		justify-content: center;
		padding: 20px;
	}
}
