@import '/styles/variables';

:local {
	.row {
		display: flex;
	}

	.subColumnsContainer {
		display: flex;
	}

	.cellContainer {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		outline: 0.5px solid @silver;
		overflow-x: hidden;
	}
}
