@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		box-sizing: border-box;
		height: 100%;
		overflow: hidden;
	}

	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.reverseContent {
		flex-direction: column-reverse;
	}

	.hideName {
		visibility: hidden;
	}

	.error {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
