@import '/styles/variables';

:local {
	.select {
		position: relative;
	}

	.disabledSelect {
		background: @gainsboro;
		color: @darkgrey;
		pointer-events: none;
	}

	.form {
		box-sizing: border-box;
		padding-left: 10px;
	}

	.valueContainer {
		align-items: center;
		display: flex;
		height: @form-field-height;
		justify-content: space-between;

		&:hover {
			.indicators {
				display: flex;
			}
		}
	}

	.labelContainer {
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		flex: auto;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		overflow: hidden;
		padding: 0 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.label {
		color: @black;
	}

	.indicators {
		display: none;
	}

	.loader {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: 38px;
		justify-content: center;
		padding: 10px;
		width: 38px;
	}

	.placeholder {
		box-sizing: border-box;
		color: @darkgrey;
		cursor: pointer;
		overflow: hidden;
		padding: 12px 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
