@import '/styles/variables.less';

:local {
	.content {
		background-color: @blue;
		height: calc(100% - @top-bar-height);
		position: relative;

		&.fullScreen {
			height: 100%;
		}

		&.contentMobile {
			height: 100%;
		}
	}
}
