@import "/styles/variables.less";

:local {
	@right-panel-width: 320px;

	.content {
		height: calc(100% - @top-bar-height);
		position: relative;
	}

	.common-props {
		bottom: 0;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
	}

	.editModeContainer {
		.common-props();
		left: 0;
		right: @right-panel-width;
		top: 0;
	}

	.viewModeContainer {
		.common-props();
		left: 0;
		padding: 20px @right-panel-width/2;
		right: 0;
		top: 0;
	}

	.panel {
		.common-props();

		background-color: white;
		box-shadow: -2px 2px 12px rgba(129, 146, 161, 0.2);
		overflow: hidden;
		right: 0;
		width: @right-panel-width;
	}
}

.react-grid-layout {
	height: 100%;
	padding-bottom: 40px;
}

.react-grid-item > .react-resizable-handle {
	bottom: 0;
	cursor: se-resize;
	height: 20px;
	position: absolute;
	right: 0;
	width: 20px;
}

.react-grid-item > .react-resizable-handle::after {
	border-bottom: 2px solid rgba(0, 0, 0, .4);
	border-right: 2px solid rgba(0, 0, 0, .4);
	bottom: 3px;
	content: '';
	height: 5px;
	position: absolute;
	right: 3px;
	width: 5px;
}

.react-resizable-hide > .react-resizable-handle {
	display: none;
}

