@import '/styles/variables';

:local {
	.tooltipHandler {
		color: @info;
		cursor: pointer;
		display: inline-block;
		font-size: .85em; // зависит от величины заголовка
		vertical-align: super;
	}

	.modal {
		background: @white;
		border-radius: 2px;
		box-shadow: @grey-box-shadow !important;
		max-height: 324px;
		padding: 16px;
		position: absolute;
		width: 264px;

		&.up {
			bottom: calc(1em + 8px);
			top: auto !important; // Обходим проблему автовыравнивания AbsolutePortal
		}

		&.down {
			top: calc(100% + 8px) !important;  // Обходим проблему автовыравнивания AbsolutePortal
		}

		&.left {
			left: auto !important;  // Обходим проблему автовыравнивания AbsolutePortal
			right: 0;
		}

		&.right {
			left: 0 !important;  // Обходим проблему автовыравнивания AbsolutePortal
		}
	}

	.modalHeader {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 13px;
		font-weight: 500;
		justify-content: space-between;
		margin-bottom: 16px;

		:nth-child(2) {
			position: absolute;
			right: 13px;
		}
	}

	.modalBody {
		height: max-content;
		margin: 0;
		max-height: 268px;
		overflow: auto;
		white-space: pre-wrap;
	}
}
