:local {
	.container {
		box-sizing: border-box;
		width: 100%;
	}

	.divider {
		background: #EBEBEB;
		height: 1px;
	}

	.checkbox {
		padding: 10px 0;
	}

	.field {
		padding-top: 8px;
	}

	.section {
		padding-top: 15px;
		padding-bottom: 9px;
	}
}
