@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
	}

	.tree {
		height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.showMoreButton {
		margin: 4px;
	}
}
