@import '/styles/variables';

:local {
	.indicator {
		border-bottom: 1px solid #ebebeb;
		margin-top: 12px;
		padding-bottom: 12px;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}
