@import '/styles/variables';

:local {
	@offset: 20px;

	.container {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
		height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.rootLabelContainer {
		align-items: center;
		color: @grey;
		display: flex;
		height: 32px;
		padding-left: @offset;
	}
}
