@import '/styles/variables';

:local {
	.icon {
		color: @dimgrey;
		stroke: @dimgrey;
		stroke-width: 0;
	}

	.use {
		// Имеется проблема в ie с определением местонахождения use-элемента в DOM
		pointer-events: none;
	}
}
