@import '/styles/variables';

:local {
	.body {
		box-sizing: border-box;
		position: absolute;
	}

	.borderBottom {
		border-top: solid 1px @ninegrey;
		bottom: 0;
		position: sticky;
		width: 100%;
	}

}
