@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
	}

	.tree {
		max-height: 300px;
		min-height: 150px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.showMoreButton {
		margin: 4px;
	}

	.message {
		align-items: center;
		color: @darkgrey;
		display: flex;
		justify-content: center;
		min-height: 100px;
	}
}
