@import '/styles/variables';

:local {
	.cell {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: 100%;
		overflow: hidden;
		padding: 7px 5px;
		text-overflow: ellipsis;
	}

}
