@import '/styles/variables';

:local {
	.tabContent {
		background-color: white;
		display: none;
		flex: auto;

		&:after {
			content: '';
			display: block;
		}
	}

	.showTabContent {
		display: block;
	}

	.tab {
		cursor: pointer;
		font-size: 13px;
		padding: 8px 16px;
	}

	.tabs {
		background: @gainsboro;
		color: @darkgrey;
		display: flex;
		// если -webkit-box стоит перед flex, то safari использует display: flex
		display: -webkit-box;
		flex-direction: row;
		flex-wrap: nowrap;
		list-style: none;
		margin-top: 8px;
		margin-bottom: 0;
		padding: 0 8px;
	}

	.activeTab {
		background: @white;
		color: @black;
	}

	.titleContainer {
		padding: 12px 24px;
	}

	.title {
		color: @black;
		font-size: 15px;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.footer {
		padding: 15px 20px;
	}

	.cancelButton {
		margin-left: 10px;
	}
}
