@import '/styles/variables';

:local {
	.label {
		color: @black;
		padding: 8px 21px 8px 21px;
	}

	.selectLabel {
		margin-bottom: 4px;
	}

	.containerItem {
		display: flex;
		flex: 1 1 50%;
		flex-direction: column;
	}
}
