:local {
	.itemContainer {
		margin-top: 5px;
	}

	.itemTitleContainer {
		display: flex;
		flex-direction: row;

		.itemTitle {
			flex: 1;
		}

		.itemEditButton {
			display: none;
			cursor: pointer;
		}
	}

	.itemTitle {
		color: #999999;
	}

	.itemDesc {
		color: #323232;
		text-decoration: none;
	}
}
