@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		border-top: 2px solid @lightgrey;
		color: @dimgrey;
		font-weight: 500;
		margin-left: 12px;
		padding: 16px 0;
	}

	.button {
		align-items: center;
		cursor: pointer;
		display: flex;
	}

	.text {
		margin-left: 4px;
	}
}
