@import '/styles/variables';

:local {
	.icon {
		border-radius: 50%;
		color: @grey;
		cursor: pointer;
		padding: 4px;

		&:hover {
			background-color: @silver;
			color: @black;
		}
	}

	.checkedIcon {
		color: @info;
	}
}
