@import "/styles/variables.less";

:local {
	.value {
		box-sizing: border-box;
		flex: auto;
		height: 100%;
		overflow: hidden;
		padding: 2px 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.label {
		padding: 0;
	}
}
