@import '/styles/variables';

:local {
	.container {
		position: relative;
	}

	.menu {
		background-color: @white;
		box-shadow: @grey-box-shadow;
		position: absolute;
		top: calc(100% + 10px);
		z-index: 1;
	}
}
