@import '/styles/variables';

:local {
	.form {
		background-color: @gainsboro;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.ieForm {
		display: block;
	}

	.content {
		background-color: @white;
		flex: auto;
	}

	.footer {
		padding: 15px 20px;
	}

	.cancelButton {
		margin-left: 10px;
	}
}
