@import "/styles/variables.less";

:local {
	.content {
		background-color: @white;
		height: calc(100% - @top-bar-height);
		position: relative;
		padding: 10px;
	}

	.table {
		box-sizing: border-box;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: hidden;
		position: relative;

		tr td {
				padding: 5px 20px;

				&:last-child {
					font-weight: bold;
				}
		}
	}

	.disabled {
		opacity: 0.6;
	}
}
