@import '/styles/variables';

:local {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.activeButton {
		background: @steel;
	}

	.cntPercent {
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

}
