@import '/styles/variables';

:local {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.button {
		font-size: 13px;
		line-height: 15px;
		margin-right: 1px;
		padding: 2.5px 8px 2.5px 10px;

		&:first-child {
			border-radius: @border-radius 0 0 @border-radius;
		}

		&:last-child {
			border-radius: 0 @border-radius @border-radius 0;
			margin-right: 0;
		}
	}

	.cntPercent {
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

}
