@import '/styles/variables';

:local {
	.borderTextField {
		margin-left: 12px;
	}

	.textInputLabel {
		background: @gainsboro;
		color: @dimgrey;
		padding: 8px 12px;
		text-align: center;
		width: 32px;
	}

	.scaleBorderField {
		padding: 4px 24px;
	}
}
