:local {
	.label {
		font-size: 14px;
		padding: 12px 24px;
	}

	.pageSizeField {
		align-items: center;
		display: flex;
	}

	.pageSizeSelect {
		width: 40%;
	}

	.pageSizeSelectLabel {
		margin-left: 15px;
	}
}
