@import '/styles/variables';

:local {
	.container {
		border-top: 1px solid @silver;
		margin-top: 4px;
	}

	.label {
		color: @dimgrey;
		padding: 12px 24px;
	}

	.pageSizeField {
		align-items: center;
		display: flex;
	}

	.pageSizeSelect {
		width: 40%;
	}

	.pageSizeSelectLabel {
		margin-left: 15px;
	}
}
