:local {
	.picker {
		position: absolute;
		top: -170px;

		&.right {
			right: calc(100% + 12px);
		}

		&.left {
			left: calc(100% + 12px);
		}
	}

	.paletteContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}

	.paletteItem {
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;
		height: 35px;
		margin-top: 5px;
		width: 60px;
	}
}
