@import '/styles/variables';

:local {
	.shadowInput {
		align-items: center;
		display: flex;
	}

	.shadowInputLabel {
		color: @dimgrey;
		font-size: 13px;
		margin-left: 4px;
	}

	.isDisabledLabels {
		color: @error;
		padding: 0 24px;
	}
}
