@import '/styles/variables';

:local {
	.list {
		max-height: 250px;
		min-height: 40px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 6px 0;
	}

	.label {
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.noOptionsMessage {
		align-items: center;
		display: flex;
		color: @darkgrey;
		justify-content: center;
		padding: 17px 0;
	}

	.showMoreButton {
		margin: 4px;
	}
}
