@import "~styles/colors";

:local {
	.wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-items: center;
		padding: 14px;
		text-align: center;
	}

	.message {
		color: @color-second;
		font-size: 1rem;
		letter-spacing: 0.02em;
		line-height: 1.3rem;
		margin: 0;
		padding: 7px 0 0;
		width: 100%;
	}
}
