:local {
	.description {
		margin: 0;
	}

	.edit {
		position: absolute;
		right: 0;
		top: 0;
	}

	.name {
		margin: 0;
	}
	
	.top {
		position: relative;
	}
	
	.widget {
		border: 1px solid grey;
		height: 100%;
	}
}
