:local {
	.field {
		align-items: center;
		display: flex;
		margin-bottom: 12px;

		&:hover {
			.removeButton {
				visibility: visible;
			}
		}
	}

	.select {
		width: 260px;
	}

	.removeButton {
		margin-left: 12px;
		visibility: hidden;
	}
}
