@import '/styles/variables';

:local {
    .referencePoint {
        background-color: transparent;
        height: 1px;
        position: absolute;
        width: 1px;
    }

    .contextMenu {
		background-color: @white;
		box-shadow: @box-shadow !important;
		color: @black !important;
		font-size: 13px;
		max-width: 200px;
		padding: 0 !important;
		position: absolute;
		z-index: 2;

		&.down {
			margin-top: 3px;
		}

		&.top {
			bottom: 0;
			margin-bottom: 3px;
		}

		&.left{
			left: 0;
		}

		&.right{
			right: 0;
		}

		li {
			> div {
				display: flex;
				justify-content: space-between;
				padding: 8px 12px 9px 12px !important;
			}
		}
	}

}

.rc-menu {
	> .rc-menu-item {
		overflow: hidden;
		padding: 8px 36px 9px 12px !important;
		text-overflow: ellipsis;
	}

	> .rc-menu-submenu-active .rc-menu-submenu-title,
		.rc-menu-item-active {
			background-color: @silver;
	}
}

.rc-menu-item {
	cursor: pointer;
}
