@import '/styles/variables';

:local {
	.outerBox {
		position: relative;
	}

	.selectedItem {
		background-color: @gainsboro;
		border-bottom: 1px solid @white;
		border-top: 1px solid @white;
		position: relative;
	}

	.selectedItemIcon {
		position: absolute;
		right: 8px;
	}
}
