@import '/styles/variables';

:local {
	.button {
		align-items: center;
		display: inline-flex;
		margin-right: 10px;
	}

	.buttonIcon {
    display: inline-block;
		padding: 16px;

		&:hover {
			background: @info;
		}

		svg {
			margin: 0 5px -1px 0;
		}
	}

	.header {
		align-items: center;
		background: #085896;
		color: white;
		display: flex;
		height: @top-bar-height;
		justify-content: space-between;
		mix-blend-mode: normal;
		padding: 0 5px;
	}

	.nav {
		align-items: center;
		display: inline-flex;
		margin-left: auto;
		padding: 0 15px 0 0;

		li{
			display: inline;
		}
	}

	.navItem {
		cursor: pointer;
	}

	.title {
		font-weight: bold;
	}
}
