@import '/styles/variables';

:local {
	.autoUpdateContainer {
		position: relative;

		&:hover {
			.autoUpdateForm {
				display: block;
			}
		}
	}

	.autoUpdateForm {
		background-color: @white;
		box-shadow: @grey-box-shadow;
		color: black;
		display: none;
		position: absolute;
		z-index: 1;
	}

	.button {
		align-items: center;
		display: inline-flex;
		margin-right: 10px;
	}

	.buttonIcon {
		align-items: center;
		border-radius: @border-radius;
		box-sizing: border-box;
		display: inline-flex;
		justify-content: center;
		margin: 8px 0;
		padding: 10px;

		&:hover {
			background: @info;
		}
	}

	.enabledAutoUpdate {
		background: @white;
		color: @primary;

		&:hover {
			background: @white;
		}
	}

	.buttonMode {
		padding: 0 10px;
	}

	.closeIcon {
		margin-right: 5px;
	}

	.header {
		align-items: center;
		background: #085896;
		color: white;
		display: flex;
		height: @top-bar-height;
		justify-content: space-between;
		mix-blend-mode: normal;
		padding: 0 5px;
	}

	.nav {
		align-items: center;
		display: inline-flex;
		margin-left: auto;
		padding: 0 40px 0 0;

		li{
			display: inline;
		}
	}

	.navItem {
		cursor: pointer;
	}

	.title {
		font-weight: bold;
	}
}
