:local {
	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
	}

	.header {
		flex: 0 0 auto;
	}

	.diagram {
		box-sizing: border-box;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		padding: 10px 0;
	}

	.reverseContent {
		flex-direction: column-reverse;
	}
}
