@import '/styles/variables';

:local {
	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 12px 24px;

		&:hover {
			background-color: @gainsboro;
		}
	}
}
