@import "/styles/variables.less";

:local {
	.value {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex: auto;
		height: 100%;
		padding: 0;
	}

	.label {
		overflow: hidden;
		padding: 12px 8px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.linkIcon {
		fill: @grey;
		margin-left: 12px;
	}
}
