@import '/styles/variables';

:local {
	.shadow (@color) {
		box-shadow: 0 0 12px @color;
	}

	.error {
		background-color: @white;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		padding: 10px;
		text-overflow: ellipsis;
	}

	.widget {
		background-color: @white;
		border-radius: 2px;
		box-shadow: 0 0 10px rgba(129, 146, 161, .4);
		box-sizing: border-box;
		cursor: pointer;
		height: 100%;

		&:hover {
			z-index: 1;

			.actionHeaderButtonsContainer {
				visibility: visible;
			}
		}
	}

	.focusedWidget {
		.shadow(green);
	}

	.selectedWidget {
		.shadow(@info);
	}

	.actionHeaderButtonsContainer {
		background-color: @white;
		border-radius: @border-radius;
		display: flex;
		padding: 8px;
		position: absolute;
		right: 10px;
		top: 10px;
		visibility: hidden;

		&.showHeaderButtons {
			visibility: visible;
		}
		
		> * {
			margin-right: 2px;
		}
	}

	.exportItem {
		cursor: pointer;
	}

	.markerIcon {
		svg {
			color: @info;
		}
	}
}
