@import '/styles/variables';

:local {
	.top {
		align-items: center;
		background-color: @info;
		border-radius: 4px;
		color: @white;
		display: inline-flex;
		font-size: 13px;
		height: 21px;
		line-height: 15px;
		margin-right: 5px;
		padding: 0 6px;
	}
}
