.gantt_grid_scale, .gantt_task_scale, .gantt_task_vscroll {
	background-color: #eee;
}
.gantt_grid_scale,
.gantt_task_scale,
.gantt_task.gantt_task_scale .gantt_scale_cell,
.gantt_grid_scale .gantt_grid_head_cell {
	color: #000;
	font-size: 12px;
}

.gantt_grid .gantt_grid_scale .gantt_grid_column_resize_wrap {
	width: 1px;
    margin-left: 0;
} 

.gantt-container,
.gantt_grid,
.gantt_grid_scale,
.gantt_grid_head_cell,
.gantt_grid_data,
.gantt_cell,
.gantt_row,
.gantt_data_area,
.gantt_task {
	font-family: Roboto;
}

.gantt_hor_scroll {
	// скролл должен быть над панелью
	z-index: 100;
}

.gantt-error {
	display: none;
}

.gantt_tree_content,
.gantt_grid_head_cell {
	overflow:hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 2px;
}

.gantt_grid_head_cell:not(:first-child) {
	&:hover,
	&:focus {
		background-color: #efefef;
	}
}

.gantt_grid_head_cell:not(:first-child):not(:last-child) {
	cursor: pointer;

	&:hover::before,
	&:focus::before {
		display: flex;
	}
}

.gantt_grid_head_cell::before {
	content: "\02DF";
	cursor: pointer;
	display: none;
	font-size: 20px;
	position: absolute;
	right: 5px;
	top: 11px;
	transform: translateY(-50%);
}

// кнопка-плюсик для добавления скрытого столбца
.gantt_grid_head_button::after {
	color: #4D92C8;
	content: "\2795";
	cursor: pointer;
	display: block;
	font-size: 20px;
}

.gantt_grid_head_button::before {
	content: "";
}

@supports (-moz-appearance:none) {
	.gantt_hor_scroll {
		height: 17px !important
	}

	.gantt_layout_x {
		height: 669px !important;
	}

	.gantt_layout_cell.scrollHor_cell {
		position: absolute !important;
		bottom: -6px;
	}

	.gantt_container {
		overflow-x: initial !important;
		overflow-y: initial !important;
	}
}
