:local {
	.contentTitle {
		font-size: 13px;
	}

	.field {
		padding: 8px 24px;
	}

	.content {
		padding: 12px 0;
	}

	.formTitle {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}
