@import "/styles/variables.less";

:local {
	.contentTitle {
		font-size: 13px;
	}

	.field {
		padding: 8px 24px;
	}

	.content {
		padding: 12px 0;
	}

	.title {
		background-color: @gainsboro;
		color: @black;
		font-size: 15px;
		font-weight: 500;
		padding: 14px 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.title > :not(:first-child) {
		margin-top: 14px;
	}

	.titleRow {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}
