.leaflet-tooltip {
    text-align: center;
}

.requestPopup .leaflet-popup-content-wrapper {
    border-radius: 0;
    width: 321px;
}

.requestPopup .leaflet-popup-content {
    margin: 0;
}

.requestPopup a.leaflet-popup-close-button {
    height: 18px;
    padding: 4px;
    position: absolute;
    right: 6px;
    top: 11px;
    width: 18px;
}

.requestPopup a.leaflet-popup-close-button:hover {
    background: #DBDDE1;
    border-radius: 15px;
}

.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-control-layers {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(129, 146, 161, 0.5);
    mix-blend-mode: normal;
}

.leaflet-touch .leaflet-bar a {
    height: 32px;
    line-height: 30px;
    width: 32px;
}

.dynamic {
    margin-top: -12px;
    margin-left: -12px;
}

.static {
    margin-top: -26px;
    margin-left: -10px;
}

#root {
    min-height: 600px;
}

.leaflet-bar a {
    color: #5F5F5F;
}

.leaflet-control-zoom-in::before { 
    padding: 5px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    border-bottom: none;
}

.leaflet-bar a:hover {
    color: #323232
}

.leaflet-control-zoom-in[title] {
    background: #ffffff;
}   