@import '/styles/variables';

:local {
	.submenu {
		background-color: @white;
		font-size: 13px;
		margin-top: 6px;
		min-width: 300px;
		position: absolute;
		right: 5px;
		top: 40px;
		z-index: 2;
	}
}
