@import '/styles/variables';

:local {
	.submenu {
		background-color: @white;
		font-size: 13px;
		margin-top: 6px;
		min-width: 300px;
		padding: 6px 0;
		position: absolute;
		right: 5px;
		top: 40px;
		z-index: 2;

		& > div {
			max-height: 125px !important;
		}
	}
}
