@import '/styles/variables';

:local {
	.container {
		border-bottom: 1px solid #EBEBEB;
		padding: 16px 0;
	}

	.content {
		margin-top: 16px;
	}

	.header {
		align-items: center;
		display: flex;
		padding: 0 24px;
	}

	.title {
		color: @black;
		font-weight: 500;
		margin-right: auto;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.control {
		align-items: center;
		display: flex;
	}

	.leftControl {
		.control();
		margin-right: 12px;
	}

	.rightControl {
		.control();
		margin-left: 8px;
	}
};
