@import '/styles/variables';

:local {
	.container {
		background-color: white;
		font-weight: 400;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
	}

	.table {
		border: 1px solid @silver;
		overflow-x: auto;
	}

	.fixedTable {
		border: 1px solid @silver;
		background-color: white;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.noData {
		align-items: center;
		background-color: @white;
		border: 1px solid @silver;
		display: flex;
		justify-content: center;
		padding: 20px;
	}
}
