@import '/styles/variables';

:local {
	.container {
		background-color: white;
		display: flex;
		height: 100%;
		flex-direction: column;
		font-weight: 400;
	}

	.table {
		border: 1px solid @silver;
		box-sizing: border-box;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: hidden;
	}

	.noData {
		align-items: center;
		background-color: @white;
		border: 1px solid @silver;
		display: flex;
		justify-content: center;
		padding: 20px;
	}
}
