@import '/styles/variables';

:local {
	.border {
		border-top: 1px solid #EBEBEB;
		position: relative;
	}

	.defaultInput {
		input {
			color: @darkgrey;
		}
	}

	.errorValidation {
		color: @error;
		font-size: 10px;
	}

	.frame {
		border: 1px solid #EBEBEB;
		box-sizing: border-box;

		& * {
			font-size: 13px;
		}
	}

	.labelMilestone {
		color: #737373;
		font-size: 13px;
		padding-top: 4px;
		margin-bottom: 5px;
	}

	.label {
		color: #737373;
		font-size: 13px;
	}

	.milestoneSelect {
		margin-top: 8px;
		max-width: 100% !important;
		
		&>div>div {
			color: #323232;
			font-size: 13px;
		}

		svg {
			color: #999999;
			stroke: #999999;
		}
	}

	.bigButton {
		position: absolute;
		bottom: 0;
		right: -50px;
		top: 0;
		width: 1000%;
	}

	.button {
		border-radius: 0;
		display: flex;
		font-size: 13px;
		font-weight: normal;
		justify-content: start;
		padding: 12.5px 0;
		position: relative;
		text-align: start;
		width: 100%;

		&:hover,
		&:focus {
			background-color: #F2F2F2;
			border-radius: 0;

			&:before {
				background-color: #F2F2F2;
				content: "";
				height: 100%;
				position: absolute;
				right: -50px;
				top: 0;
				width: 1000%;
				z-index: -1;
			}
		}

		&[disabled] {
			color: lightgrey;
			cursor: not-allowed;
		}

		&[disabled] svg {
			color: lightgrey;
			cursor: not-allowed;
		}

		&[disabled] .bigButton {
			display: none;
		}
	}

	.disabledValueField {
		opacity: .8;
		pointer-events: none;
	}

	.errorValidationInput .sourceTreeSelect {
		border: 1px solid red;
	}

	.padding {
		padding: 3px 12px;
	}

	.select {
		padding-bottom: 12px;
		padding-top: 4px;
		width: 100%;
	
		& div[title] {
			pointer-events: none;
		}
	
	}

	.tooltip {
		display: inline-block;
		position: relative;
		width: 100%;
	}
	
	.tooltip .tooltiptext {
		background-color: #fff;
		border: 1px solid black;
		color: black;
		font-size: 12px;
		left: 63px;
		padding: 6px;
		position: absolute;
		text-align: center;
		top: 45px;
		visibility: hidden;
		z-index: 3;
	}
	
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	.valueMileStone > div > div {
		color: #767676;
	}

	.valueMileStone svg {
		color: #999999;
		fill: #999999;
	}

	.margin {
		margin: 5px 0 0;
	}

	.checkbox {
		padding-bottom: 8px;
		padding-top: 8px;
		width: 100%;
	}

	.checkbox > div {
		justify-content: start;
		padding-left: 2px;
		padding-right: 2px;
		width: 100%;
	}

	.container {
		align-items: start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 4px 14px 8px 0;

		& > div > div > div {
			padding: 0 12px;
		}

		& > div > div > div > div {
			padding: 8px 0px;
		}
	}

	.date {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 100%;
		font-size: 13px;
	}

	.list {
		margin: 0;
		padding: 0;
	}

	.item {
		align-items: center;
		display: flex;
		padding: 10px 30px;
		flex-direction: row;
		justify-content: space-between;
	}

	.title {
		max-width: 40%;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 40%;
	}

	.valueField {
		margin-bottom: 8px;
	}

	.desc {
		font-size: 13px;
		margin-left: 16px;
	}

	.header {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 13px;

		& span {
			margin-left: 13px;
		}
	}

	.selectIcon svg {
		fill: #999999;
	}
	
	.selectWidth {
		max-width: 60%;
	}

	.sourceTreeSelect {
		background-color: @white;
		border-radius: @border-radius;
		border: 1px solid @grey;
		box-sizing: border-box;
		color: @black;
		cursor: pointer;
		font-size: 13px;
		height: 32px;
		margin-top: 5px;
		position: relative;
		width: 100%;

		&:hover {
			.clearLabelIcon {
				display: block;
			}
		}

		&:focus-within {
			border: 1px solid @info;
		}

		& > div {
			border-bottom: none;
			position: relative;
			top: 0px;

			//Выпадающий список поверх тултипа
			&:nth-child(2) {
				z-index: 4;
			}
		}
	}

	.width {
		width: 100%;

		& > div:nth-child(2) > div {
			max-height: 126px;
			height: auto !important;
		}
	}
}