:local {
	.panelWrap {
		height: calc(100% - 20px);
		overflow: hidden;
		padding-top: 10px;
		padding-right: 56px;
	}

	.panelContentWrap {
		height: calc(100% - 48px);
		overflow: hidden;
		padding-top: 38px;
	}

	.panelContainer {
		background: #FFFFFF;
		height: 100%;
		margin-left: auto;
		margin-bottom: 10px;
		overflow-y: auto;
		position: relative;
		width: 320px;
	}

	.panelContentContainer {
		background: #FFFFFF;
		height: 100%;
		margin-left: auto;
		overflow-y: auto;
		position: relative;
		width: 320px;
	}

}
