:local {
	.PanelHeaderWrap {
		background-color: #F4F4F4;
		height: 48px;
		width: 100%;
	}

	.PanelHeaderContainer {
		cursor: pointer;
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 40px;
		padding: 4px 12px 4px 12px;
		text-align: center;
	}

	.label {
		color: #323232;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px;
		margin: 12px 12px 8px 12px;
	}

	.active {
	}

	.inActiveLabel {
		color: #999999;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px;
		margin: 12px 12px 13px 12px;
	}

	.inActiveLabel:hover {
		color: #323232;
	}

}
