@import '/styles/variables';

:local {
	.nameField {
		margin-top: 12px;
		width: 100% !important;
	}

	.nameInputContainer {
		align-items: center;
		display: flex;
	}

	.nameInput {
		width: 300px;
	}

	.conditionsContainer {
		margin-top: 16px;
	}
}
