:local {
	@bg: #EFF3F8;

	.caret {
		position: absolute;
		right: 5px;
		top: 15px;
	}

	.label {
		cursor: default;
	}

	.list {
		background-color: white;
		box-shadow: 0 0 5px lighten(black, 70%);
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.option {
		align-items: center;
		background-color: @bg;
		cursor: pointer;
		display: flex;
		height: 38px;
		justify-content: center;
		margin: 5px;

		&:hover {
			background-color: #D1D1D1;
		}
	}

	.select {
		background: @bg;
		border-radius: 2px;
		color: #5F5F5F;
		font-size: 12px;
		position: relative;
	}

	.disabled {
		background: hsl(0, 0%, 95%);
		color: hsl(0, 0%, 60%);
		pointer-events: none;
	}

	.valueContainer {
		align-items: center;
		display: flex;
		height: 38px;
		justify-content: center;
		position: relative;
	}
}
