@import '/styles/variables';

:local {
	.label {
		flex: auto;
		text-align: center;
	}

	.list {
		background-color: white;
		box-shadow: @grey-box-shadow;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.option {
		align-items: center;
		background-color: @gainsboro;
		cursor: pointer;
		display: flex;
		height: @form-field-height;
		justify-content: center;
		margin: 5px;

		&:hover {
			background-color: @silver;
		}
	}

	.select {
		background: @gainsboro;
		border-radius: 2px;
		color: @dimgrey;
		font-size: 12px;
		outline: none;
		position: relative;
	}

	.disabled {
		background: @lightgrey;
		color: @darkgrey;
		pointer-events: none;
	}

	.valueContainer {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: @form-field-height;
		justify-content: center;
		padding: 0 8px;
		position: relative;
	}
}
