:local {
	@combined-left-with: 80px;

	.checkboxDivider {
		padding: 10px 0;
	}

	.fieldDivider {
		padding-top: 8px;
	}

	.sectionDivider {
		padding-top: 15px;
		padding-bottom: 9px;
	}

	.label {
		font-size: 14px;
	}

	.combinedInputs {
		display: flex;
		flex-direction: row;
	}

	.combinedLeftInput {
		width: @combined-left-with;
	}

	.combinedRightInput {
		width: calc(100% - @combined-left-with);
	}
}
