:local {
	.description {
		margin: 0;
	}

	.edit {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;
	}

	.name {
		margin: 0;
	}

	.top {
		position: relative;
	}

	.widget {
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(129, 146, 161, .4);
		height: 100%;
		overflow: hidden;
	}
}
