@import "/styles/variables.less";

:local {
	.value {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex: auto;
		height: 100%;
	}

	.linkIcon {
		fill: @grey;
		margin-left: 12px;
	}
}
