@import '/styles/variables';

:local {
	.addlBtn {
		margin-right: 12px;
	}

	.generalBtn {
		background-color: #FFFFFF !important;
		color: #4D92C8;
		margin-right: 12px;

		&.active {
			background-color: #4D92C8 !important;
			color: #FFFFFF;
		}
	}

	.personalBtn {
		background-color: #FFFFFF !important;
		color: #4D92C8;

		&.active {
			background-color: #4D92C8 !important;
			color: #FFFFFF;
		}
	}

	.rightBlock {
		align-items: center;
		display: flex;
	}

	.wrapper {
		align-items: center;
		background-color: white;
		border: 1px solid #cecece;
		display: flex;
		justify-content: space-between;
		padding: 8px 10px;
	}
}