:local {
	.empty, .error, .loading {
		box-sizing: border-box;
		height: 100%;
		overflow: hidden;
		padding: 16px;
		text-overflow: ellipsis;
		width: 100%;
	}

	.widget {
		box-sizing: border-box;
		padding: 16px;
	}
}
