@import '/styles/variables';

:local {
	@offset: 24px;

	.title {
		font-weight: 500;
		padding-top: @offset;
	}

	.creationPanel {
		border: none;
		margin-left: 0;
		margin-top: @offset;
		padding: 0;
	}

	.groupSelectContainer {
		align-items: center;
		display: flex;
	}

	.infoPanel {
		padding-top: @offset;
	}
}
