@import '/styles/variables';

:local {
	.listItem {
		cursor: pointer;
		overflow: hidden;
		padding: 12px 55px 12px 60px;
		text-overflow: ellipsis;

		&:hover {
			background-color: @gainsboro;
		}
	}
}
