@import '/styles/variables';

:local {
	.container {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		overflow: scroll;

		.selectedItem {
			background-color: lighten(@info, 30%) !important;
		}

		.item {
			background-color: @white;
			border-radius: @border-radius;
			border: solid @dimgrey 1px;
			cursor: pointer;
			height: 4em;
			margin: 5px 5px;
			padding: 5px 5px;
			text-align: center;
			text-overflow: ellipsis;
			width: 70px;

			svg {
				height: 2em;
				width: 2em;
			}

			.title {
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
			}
		}
	}
}
