:local {
	@error: red;
	@info: #4D92C8;
	@offset: 20px;
	@success: green;
	@width: 300px;

	.move(@direction) {
		animation: e("move-@{direction}") 0.2s linear;
	}

	.setBoxShadow(@color) {
		box-shadow: 0 0 5px @color;
	}

	.container {
		background-color: white;
		border-radius: 2px;
		padding: 20px;
		position: fixed;
		text-align: center;
		width: @width;
		z-index: 9999;
	}

	.topRight {
		right: @offset;
		top: @offset;

		.move(left);
	}

	.bottomRight {
		bottom: @offset;
		right: @offset;

		.move(left);
	}

	.bottomLeft {
		bottom: @offset;
		left: @offset;

		.move(right);
	}

	.topLeft {
		left: @offset;
		top: @offset;

		.move(right);
	}

	.success {
		color: @success;

		.setBoxShadow(@success)
	}

	.error {
		color: @error;

		.setBoxShadow(@error)
	}

	.info {
		color: @info;

		.setBoxShadow(@info)
	}

	@keyframes ~":local(move-left)" {
		from {
			right: -@width;
		}
		to {
			right: @offset;
		}
	}

	@keyframes ~":local(move-right)" {
		from {
			left: -@width;
		}
		to {
			left: @offset;
		}
	}
}
