@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
		display: flex;
		flex-direction: column;
		padding: 6px 4px;
	}
}
