:local {
	.singleContainerWrap{
		border-bottom: 2px solid #EBEBEB;
		cursor: pointer;
		height: 32px;
	}

	.showAllContainer{
		align-items: center;
		display: flex;
		justify-content: start;
		padding-top: 4px;
		padding-right: 19px;
		padding-bottom: 4px;
		padding-left: 20px;
	}

	.listBtnLabel {
		color: #5F5F5F;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px;
		padding-left: 4px;
	}
}
