:local {
	.container {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		padding: 12px 20px;
	}

	.input {
		border: none;
		color: #4D92C8;
		outline: none;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		flex: 1;
		line-height: 20px;
	}

	.icon {
		margin-right: 10px;

		svg {
			display: block;
			fill: #4D92C8;
		}
	}
}
