@import "/styles/variables.less";

@font-size: 13px;

:local {
	.icon {
		color: #BBBBBB;
	}

	.select {
		width: 100%;
	}

	.editIcon {
		background-color: white;
		color: #666;
		cursor: pointer;
		padding: 0 5px;
		position: absolute;
		right: 37px;
		top: 11px;
		z-index: 99;
	}

	.formContainer {
		border-bottom: 2px solid black;
		height: 33px;
	}

	.container {
		position: relative;
	}
}

.rc-tree-select-arrow {
	right: 5px !important;
	top: 5px !important;

	&:after {
		border-color: #767676 transparent transparent transparent;
	}
}

.rc-tree-select-search__field {
	border-bottom: 1px solid #F4F4F4 !important;
	border: 0 !important;
	box-sizing: border-box !important;
	font-size: @font-size;

	&__placeholder {
		font-size: @font-size;
	}
}

.rc-tree-select-selection {
	&:hover {
		border-color: hsl(0,0%,70%) !important;
		box-shadow: none !important;
	}
}

.rc-tree-select-selection__rendered {
	font-size: @font-size;
	padding-top: 5px;
}

.rc-tree-select-selection-selected-value {
	color: #000;
	font-size: @font-size;
}

.rc-tree-select-selection--single {
	border-top: 0;
	border-bottom: 2px solid #323232;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	box-shadow: none !important;
	height: 38px !important;

	&:active {
		border-color: #323232 !important;
	}
}

.rc-tree-select-tree {
	box-sizing: border-box;
	height: 300px;
	overflow-y: scroll;
	padding: 12px 0 17px 12px !important;
	width: 255px;

	li {
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		span.rc-tree-select-tree-switcher {
			background-position: 0 !important;
			padding-right: 8px;

			&_close {
				background-image: none !important;
			}

			&_open {
				background-image: none !important;
			}
		}
	}

	ul {
		width: 100%;
	}
}

.rc-tree-select-tree-node-content-wrapper {
	padding: 8px 0;
	width: 80%;
}

.rc-tree-select-tree-title {
	font-size: @font-size;
	white-space: pre-wrap;
}

.rc-tree-select-tree li.filter-node > .rc-tree-select-tree-node-content-wrapper {
	color: black !important;
	font-weight: normal !important;
}

.rc-tree-select-enabled.rc-tree-select-focused .rc-tree-select-selection {
	border-color: #323232 !important;
}
.rc-tree-select-selection__clear {
	margin-top: 4px;
	margin-right: 5px;
}

.rc-tree-select-selection__clear:after {
	display: none !important;
}
