:local {
	.popupActions {
		color: #4D92C8;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 16px;
		padding-top: 14px;
		padding-bottom: 14px;
		text-align: center;
	}

	.popupActionsShadow {
		box-shadow:  0px -3px 4px rgba(129, 146, 161, 0.1);
		color: #4D92C8;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 16px;
		padding-top: 14px;
		padding-bottom: 14px;
		text-align: center;
	}

	.popupActions a {
		text-decoration: none;
	}

	.popupActions a:hover {
		color: #323232;
	}
}
