:local {
	.select {
		width: 100%;
	}
}

.rc-tree-select-selection--single {
	height: 38px !important;
}

.rc-tree-select-arrow {
	right: 5px !important;
	top: 5px !important;
}

.rc-tree-select-selection-selected-value {
	padding-top: 5px;
}
