@import '/styles/variables';

:local {
	.dropdown {
		display: inline-block;
		position: relative;

		&:hover {
			.dropdownContent {
				display: block;
			}
		}
	}

	.dropdownButton {
		border: none;
		color: @grey-light;
		cursor: pointer;
		font-size: 16px;
		padding: 16px;

		&:hover {
			background-color: @info;
		}

		svg {
			fill: @grey-light;
		}
	}

	.dropdownContent {
		background-color: @grey-light;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		display: none;
		position: absolute;
		z-index: 1;

		button {
			color: @black;
			display: block;
			margin: 0;
			min-width: 65px;
			padding: 12px 16px;
			text-decoration: none;
			width: 100%;

			&:hover {
				background-color: @info;
				color: @white;
			}
		}
	}
}
