:local {
	.container {
		align-items: start;
		display: flex;
		justify-content: space-between;
		padding: 8px 24px;
	}

	.valueField {
		margin-bottom: 8px;
	}

	.disabledValueField {
		opacity: 0.8;
		pointer-events: none;
	}
}
