:local {
	.total {
		flex: 0 0 auto;
		font-weight: bold;
		overflow-x: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.totalValue {
		display: flex;
		justify-content: space-between;
		margin: auto 5px;
	}
}
