@import '/styles/variables';

:local {
	.activeContainer {
		color: @black;

		svg {
			fill: @black;
		}
	}

	.container {
		align-items: center;
		color: #5F5F5F;
		cursor: pointer;
		display: flex;
		padding: 12px 24px;

		&:hover {
			.activeContainer();
			background-color: @gainsboro;
		}
	}

	.text {
		margin-left: 18px;
	}
}
