@import '/styles/variables';

:local {
	@height: 48px;
	@offset: 4px;

	.list {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
		box-sizing: border-box;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: @height + @offset;
		width: 320px;
		z-index: 1;
	}

	.control {
		outline: none;
	}

	.searchInfo {
		background-color: @gainsboro;
		color: @darkgrey;
		padding: 12px 40px;
	}

	.searchValue {
		background-color: @gainsboro;
		padding: 12px 40px;
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			color: @darkgrey;
		}
	}

	.listSource {
		display: flex;
		margin-bottom: 8px;
	}

	.listSourceLabel {
		font-weight: 500;
	}

	.sourceToggleIcon {
		color: @grey;
		cursor: pointer;
		margin-right: 10px;
	}

	.attribute {
		cursor: pointer;
		margin-left: 4px;
		padding: 8px 0 8px 36px;

		&:hover {
			background-color: @silver;
		}
	}

	.selectedAttribute {
		background-color: @gainsboro;
	}

	.options {
		height: 350px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.option {
		margin: 8px 0 8px 12px;
	}

	.combinedInput {
		display: flex;
		flex-direction: row;
	}

	.leftInput {
		background-color: #EBE4ED;
		border-radius: @border-radius 0 0 @border-radius;
		box-sizing: border-box;
		min-height: 48px;
		width: 60px;

		&:hover {
			background-color: #D1CAD3;
		}
	}

	.activeLeftInput {
		.leftInput();
		background-color: @white;

		&:hover {
			background-color: @white;
		}
	}

	.rightInput {
		align-items: center;
		background-color: #DAE4F1;
		border-radius: 0 @border-radius @border-radius 0;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		height: 48px;
		justify-content: center;
		padding: 8px 12px;
		min-width: 80px;

		&:hover {
			background-color: #BACADE;
		}
	}

	.emptyInput {
		.rightInput();
		border-radius: @border-radius;
	}

	.inputLabel {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.inputSourceLabel {
		.inputLabel();
		color: @darkgrey;
		font-size: 11px;
		margin-bottom: 4px;
	}

	.inputAttributeLabel {
		.inputLabel();
		color: @black;
		font-weight: 500;
	}
}
