@import '/styles/variables';

:local {
	.submenu {
		background-color: @white;
		border: none !important;
		box-shadow: @box-shadow !important;
		color: @black !important;
		font-size: 13px;
		margin-top: 6px;
		padding: 6px 0 !important;
		position: absolute;
		z-index: 2;

		&.submenuRight {
			right: 0;
		}

		li {
			> div {
				display: flex;
				padding: 8px 12px 9px 12px !important;
				justify-content: space-between;
			}
		}
	}
}

.rc-menu {
	> .rc-menu-item {
		padding: 8px 36px 9px 12px !important;
	}

	> .rc-menu-submenu-active .rc-menu-submenu-title,
		.rc-menu-item-active {
			background-color: @silver;
	}
}

.rc-menu-item {
	cursor: pointer;
}

.popupSubmenu {
	padding: 6px 0 !important;
	z-index: 9;

	> ul {
		border: none !important;
		box-shadow: @box-shadow !important;
		color: @black !important;
		font-size: 13px;
		margin-left: -4px;
	}
}
