:local {
    .icon {
        color: #767676;
        margin-left: 11px;
    }

    .menu {
        list-style: none;
        padding-top: 37px;
        padding-left: 0;
    }

    .name {
        color: #767676;
        cursor: pointer;
        display: flex;
        font-size: 13px;
    }
}

  
  