@import '/styles/variables';

:local {
	@button-size: 25px;
	@icon-size: 16px;

	.button {
		align-items: center;
		border-radius: 50%;
		color: @darkgrey;
		display: inline-flex;
		justify-content: center;
		padding: 4px;

		&:hover {
			svg {
				fill: @black;
			}

			background-color: @lightgrey;
		}

		&:active {
			background-color: darken(@lightgrey, 20%);
		}
	}

	.tooltip {
		bottom: 140% !important;
	}
}
