@import '/styles/variables';

:local {
	@button-size: 25px;
	@icon-size: 16px;

	.button {
		align-items: center;
		border-radius: 50%;
		color: @darkgrey;
		display: inline-flex;
		height: @button-size;
		justify-content: center;
		width: @button-size;

		&:hover {
			background-color: @lightgrey;
		}

		&:active {
			background-color: darken(@lightgrey, 20%);
		}

		svg {
			height: @icon-size;
			width: @icon-size;
		}
	}
}
