@import '/styles/variables';

:local {
	@button-size: 25px;
	@icon-size: 16px;

	.button {
		align-items: center;
		border-radius: @border-radius;
		color: @darkgrey;
		display: inline-flex;
		justify-content: center;
		padding: 4px;

		&:hover {
			svg {
				fill: @black;
			}

			background-color: @lightgrey;
		}

		&:active {
			background-color: darken(@lightgrey, 20%);
		}
	}

	.round {
		border-radius: 50%;
	}

	.tooltip {
		bottom: 140% !important;
	}

	.info {
		&.active {
			background-color: @info;

			&:hover {
				background-color: @black;
			}

			svg {
				fill: @white !important;
				stroke: @white !important;
			}
		}
	}

	.gray {
		&.active {
			background-color: @silver;

			&:hover {
				background-color: @silver;
			}

			svg {
				fill: @darkgrey !important;
				stroke: @darkgrey !important;
			}
		}
	}
}
