@import '/styles/variables';

:local {
	@height: 32px;

	.foundNode {
		font-weight: bold;
	}

	.toggleIconContainer {
		align-items: center;
		color: @grey;
		display: flex;
		padding: 4px 8px;
	}

	.invisibleContainer {
		pointer-events: none;
		visibility: hidden;
	}

	.toggleIcon {
		color: @grey;
	}

	.labelContainer {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: @height;
		text-align: center;
		white-space: nowrap;

		&:hover {
			background-color: @gainsboro;
		}
	}

	.disabledLabel {
		color: @grey !important;
	}

	.selectedNode {
		background-color: @silver;
		border-top: 1px solid white;
		border-bottom: 1px solid white;

		&:hover {
			background-color: @silver;
		}
	}

	.label {
		align-items: center;
		color: @black;
		display: flex;
		flex: auto;
		height: 100%;
		text-align: left;
	}

	.childrenContainer {
		margin-left: 8px;
	}

	.showMoreButton {
		margin: 4px;
	}
}
