@import "/styles/variables.less";

:local {
	.label {
		color: #767676;
		display: block;
		font-size: 13px;
		margin-bottom: 6px;
	}

	.icon {
		color: #767676;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.inputField {
		position: relative;
	}

	.input {
		border: 1px solid @input-border-color;
		border-radius: @input-border-radius;
		box-sizing: border-box;
		padding: 8px 24px 8px 12px;
		resize: none;
		width: 100%;
	
		&::placeholder {
			color: #A4A4A4;
		}
	}
}