@import "/styles/variables.less";

:local {
	.icon {
		color: @darkgrey;
		cursor: pointer;
		opacity: 0;
		position: absolute;
		right: 2px;
		top: 2px;

		&:hover {
			opacity: 1;
		}
	}

	.inputField {
		position: relative;
	}

	.input {
		border: 1px solid @grey;
		border-radius: @border-radius;
		box-sizing: border-box;
		overflow: auto;
		padding: 8px 12px;
		resize: none;
		width: 100%;

		&::placeholder {
			color: #A4A4A4;
		}
	}
}
