:local {
	.icon {
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.inputField {
		position: relative;
	}

	.input {
		box-sizing: border-box;
		padding: 5px 18px 5px;
		resize: none;
		width: 100%;
	}
}
