:local {
	.popupLabel {
		background: #F5F8FA;
		color: #323232;
		cursor: text;
		display: flex;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		padding-top: 14px;
		padding-right: 20px;
		padding-bottom: 14px;
		padding-left: 20px;
		width: 280px;
	}
	
	.popupLabelShadow {
		background: #F5F8FA;
		box-shadow: 0px 2px 8px rgba(95, 95, 95, 0.2);
		color: #323232;
		display: flex;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		padding-top: 14px;
		padding-right: 20px;
		padding-bottom: 14px;
		padding-left: 20px;
		width: 280px;
	}

	.popupTextLabel {
		max-width: 265px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap; 
	}
	
	.popupClose {
		position: absolute;
		right: 6px;
		top: 12px;
	}

	.popupClose:hover {
		cursor: pointer;
	}
}
