@import '/styles/variables';

:local {
	.icon {
		align-items: center;
		border: 1px solid @grey-light;
		display: flex;
		height: 16px;
		justify-content: center;
		margin-right: 12px;
		width: 16px;

		&:hover {
			border-color: @grey-dark;
		}
	}

	.activeInfo {
		background-color: @info;
		border-color: @info;
		color: white;

		&:hover {
			border-color: @info;
		}
	}

	.input {
		display: none;
	}

	.label {
		align-items: center;
		color: @black;
		cursor: pointer;
		display: flex;
		font-size: 14px;
	}
}
