@import '/styles/variables';

:local {
	@height: 48px;
	@offset: 4px;

	.list {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
		box-sizing: border-box;
		padding-top: @offset;
		position: absolute;
		top: @height + @offset;
		z-index: 1;
	}

	.control {
		outline: none;
		position: relative;
	}

	.value {
		align-items: center;
		background-color: #DDF0EB;
		border-radius: @border-radius;
		color: #5F5F5F;
		cursor: pointer;
		display: flex;
		height: 48px;
		justify-content: center;
		line-height: 0;
		width: 32px;

		&:hover {
			background-color: #BEDAD3;
		}
	}
}
