:local {
	.popupError {
		background: #323232;
		border: 1px solid #edd69a;
		border-left: 6px solid #edd69a;
		box-sizing: border-box;
		box-shadow: 0px 6px 20px rgba(95, 95, 95, 0.34);
		border-radius: 2px;
		color: #323232 !important;
		cursor: text !important;
		font-family: Roboto !important;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 15px;
		padding-top: 12px !important;
		padding-bottom: 12px !important;
		padding-left: 14px !important;
		right: 4px;
		width: 420px;
	}
}
