@import '/styles/variables';

:local {
	.input {
		border-bottom-right-radius: @border-radius;
		border-top-right-radius: @border-radius;
		cursor: pointer;
		display: inline-flex;
	}

	.value {
		border: 2px solid @gainsboro;
		border-bottom-left-radius: @border-radius;
		border-top-left-radius: @border-radius;
		box-sizing: border-box;
		display: inline-block;
		height: 100%;
		width: 24px;
	}

	.button {
		background-color: @gainsboro;
		display: inline-block;
		height: 100%;
		padding: 4px 2px;
	}
}
