@import '/styles/variables';

:local {
	.container {
		background-color: @white;
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
	}

	.tree {
		height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.node {
		align-items: center;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		padding-left: 4px;
		text-align: center;
		white-space: nowrap;

		&:hover {
			background-color: @gainsboro;
		}
	}

	.selectedNode {
		background-color: @silver;
	}

	.foundNode {
		font-weight: bold;
	}

	.toggleIcon {
		align-items: center;
		color: @grey;
		display: flex;
		margin: 8px;
	}

	.invisibleToggleIcon {
		pointer-events: none;
		visibility: hidden;
	}

	.title {
		align-items: center;
		color: @black;
		display: flex;
		flex: auto;
		text-align: left;
	}

	.children {
		margin-left: 8px;
	}
}
