@import '/styles/variables';

:local {
	.container {
		border-radius: @border-radius;
		box-shadow: @grey-box-shadow;
	}

	.pickerContainer {
		background: @white;
		padding: 20px 24px;
	}

	.picker {
		border: 1px solid @grey;
		border-radius: @border-radius;
		box-shadow: none !important;
		padding: 10px;
	}

	.buttonsContainer {
		background-color: @bgBlue;
		padding: 16px 24px;
	}

	.cancelButton {
		margin-left: 12px;
	}
}
