button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;

	&:focus{
		outline:0;
	}
}

html, body, #root{
	height: 100%;
	overflow: hidden;
}

input {
	background: transparent;
	border: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: @grey;

	&:hover, &:active {
		background-color: #6E6E6E;
	}
}

input::-ms-clear {
	display: none;
}
