@import '/styles/variables';

:local {
	.container {
		position: relative;
	}

	.label {
		align-items: center;
		border: 1px solid @grey;
		border-radius: @border-radius;
		cursor: pointer;
		display: flex;
		height: 32px;
		justify-content: space-between;
		padding: 0 12px;
	}

	.menu {
		background-color: @white;
		box-shadow: @grey-box-shadow;
		left: 0;
		right: 0;
		padding: 5px 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
}
