:local {
	.container {
		height: 100%;
		overflow: hidden;
		padding: 10px;
		width: 100%;
	}

	.name {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.title {
		color: darkgrey;
	}

	.total {
		font-size: 7vh;
		font-weight: bold;
		line-height: 10px;
	}
}
