:local {
	.info {
		border: 1px solid #edd69a;
		border-left: 6px solid #edd69a;
	}

	.info::-webkit-scrollbar,
	.error::-webkit-scrollbar,
	.empty::-webkit-scrollbar {
		display: none;
	}

	.error {
		border: 1px solid #ed9a9a;
		border-left: 6px solid #ed9a9a;
	}

	.empty {
		border: 1px solid #edd69a;
		border-left: 6px solid #edd69a;
		height: 0;
		overflow-y: hidden !important;
	}

	.textNotify {
		width: 360px;
	}
}
