@import '/styles/variables';

:local {
	.selected {
		background-color: @silver;
	}

	.root {
		color: @grey;
	}

	.labelContainer {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: 32px;
		padding-left: 20px;
		text-align: left;
		white-space: nowrap;

		&:hover {
			background-color: @gainsboro;
		}
	}
}
