@import '/styles/variables';

:local {
	.autoUpdateItem {
		position: relative;

		&:hover {
			.autoUpdateForm {
				display: block;
			}
		}
	}

	.autoUpdateForm {
		background-color: @white;
		box-shadow: @grey-box-shadow;
		color: black;
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 1;
	}

	.displayButton {
		margin-right: 15px;
	}

	.displayModeContainer {
		flex-grow: 1;
	}

	.removeIcon {
		color: @white;
	}

	.navButton {
		margin: 0 10px;
	}

	.header {
		align-items: center;
		background: #085896;
		color: white;
		display: flex;
		height: @top-bar-height;
		justify-content: space-between;
		margin: 0;
		mix-blend-mode: normal;
		padding: 0 5px;
		position: relative;
		z-index: 2;
	}

	.nav {
		display: inline-flex;
		padding: 0 40px;

		li{
			display: inline;
		}
	}
}
