@import '/styles/variables';

:local {
	.modal {
		background-color: rgba(0, 0, 0, 0.2);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99900;
	}

	.container {
		margin: 5% auto;
		width: 600px;
	}

	.largeContainer {
		width: 900px;
	}

	.smallContainer {
		width: 300px;
	}

	.header {
		background-color: @primary;
		color: white;
		padding: 20px;
	}

	.content {
		background-color: white;
		min-height: 50px;
	}

	.footer {
		background-color: @bg-color;
		padding: 10px;
	}

	.submitButton {
		margin-right: 10px;
	}
}
