:local {
	@active-filter-color: #333;
	@default-filter-color: #bbb;

	.filterContainer {
		align-items: center;
		cursor: pointer;
		display: inline-flex;

		&:hover {
			.filterIcon {
				background: lighten(@active-filter-color, 20);
			}

			.filterText {
				color: lighten(@active-filter-color, 20);
			}
		}
	}

	.filterIcon {
		background-color: @default-filter-color;
		border-radius: 2px;
		color: white;
		display: inline-block;
		margin-left: 8px;
	}

	.filterText {
		color: @default-filter-color;
		margin-left: 10px;
	}

	.activeFilterIcon {
		background-color: @active-filter-color;
	}

	.activeFilterText {
		color: @active-filter-color;
	}

	.combineInput {
		display: flex;
		flex-direction: row;
	}

	.combineInputLeft {
		width: 80px;
	}

	.combineInputRight {
		width: calc(100% - 80px);
	}

	.labelWithIcon {
		align-items: center;
		display: flex;

		span {
			padding-left: 10px;
		}
	}
}
