@import '/styles/variables';

:local {
	.header {
		align-items: center;
		background: #085896;
		color: white;
		display: flex;
		height: @top-bar-height;
		justify-content: space-between;
		margin: 0;
		mix-blend-mode: normal;
		padding: 0 10px;
		position: relative;
		z-index: 2;
	}
}
