@import '/styles/variables';

:local {
	.container {
		display: flex;
		height: 32px;
		padding: 12px;
	}

	.inputContainer {
		border-bottom: 2px solid @gainsboro;
		box-sizing: border-box;
		display: flex;
		padding-bottom: 3px;
		width: 100%;

		&:hover {
			.removeIconContainer {
				display: block;
			}
		}
	}

	.input {
		flex: auto;
		padding: 4px;

		&:focus {
			border-color: @info;
		}

		::placeholder {
			color: @grey;
		}
	}

	.removeIconContainer {
		cursor: pointer;
		display: none;
		margin-left: 14px;
		padding: 4px;
	}

	.searchIcon {
		color: @dimgrey;
		padding: 8px 8px 8px 0;
	}
}
