@import '/styles/variables';

:local {
	@height: 28px;

	.container {
		position: relative;
	}

	.checkboxContainer, .filterContainer {
		margin-top: 10px;
	}

	.removeButton {
		color: black;
		font-size: 12px;
		position: absolute;
		right: 0;
		text-decoration: underline;
		top: calc(@height + 6px);
	}

	.select {
		align-items: center;
		border-bottom: 2px solid @black;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		height: @height;
		position: relative;
		white-space: nowrap;

		&:hover {
			.indicators {
				visibility: visible;
			}
		}
	}

	.indicators {
		visibility: hidden;
	}

	.list {
		left: 0;
		position: absolute;
		right: 0;
		top: @height;
		z-index: 1;
	}

	.label {
		flex: auto;
		overflow: hidden;
		padding-bottom: 6px;
		text-overflow: ellipsis;
	}

	.defaultLabel {
		color: @darkgrey;
	}
}
