@import '/styles/variables';

:local {
	@height: 28px;
	@filterButtonWidth: 24px;

	.container {
		position: relative;
	}

	.sourceTreeSelect {
		width: calc(100% - @filterButtonWidth);
	}

	.combinedContainer {
		align-items: center;
		display: flex;

		.filterButton {
			cursor: pointer;
			flex: 0 1 @filterButtonWidth;
			margin-right: 7px;
			text-align: center;
		}

		.sourceSelectLabelEdit,
		.sourceTreeSelect{
			display: flex;
			flex: 1 1 auto;
		}
	}

	.removeButton {
		color: black;
		font-size: 12px;
		position: absolute;
		right: 24px;
		text-decoration: underline;
		top: calc(@height + 6px);
	}

	.sourceSelectLabel {
		display: flex;
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;

		.unsaveMarker {
			color: @error;
			margin-right: 16px;
		}
	}

	.sourceSelectLabelEdit {
		height: 28px;
		padding: 5px 0;

		div {
			width: 100%;
		}
	}

	.savedFiltersButton {
		&:hover {
			background-color: #f2f2f2;
		}
	}

	.sourceForCompute {
		padding: 16px 3px 0;
	}

	.sourceRowName {
		padding: 16px 3px 0;
	}

	@animation-blinker-name: 'blinker';

	.filterButtonIconOpening {
		animation: @animation-blinker-name 1s infinite linear;
	}


	@keyframes @animation-blinker-name {
		from { opacity: 1.0; }
		50% { opacity: .5; }
		to { opacity: 1.0; }
	}


}
