@import '/styles/variables';

:local {
	@placeholder-height: 13px;

	.container {
		align-items: center;
		border-bottom: 1px solid @grey;
		display: flex;
		font-size: 14px;
		height: 28px;
		position: relative;
		width: 100%;
	}

	.placeholder {
		color: @darkgrey;
		font-size: @placeholder-height;
	}

	.input {
		width: 100%;

		&::placeholder {
			.placeholder()
		}

		&:focus {
			border-bottom-color: @info;
		}
	}

	.placeholder {
		.placeholder();
		position: absolute;
		top: -10px;
	}
}
