@import '/styles/variables';

:local {
	.checkbox {
		border-radius: @border-radius;
	}

	.infoIcon {
		color: @grey-dark;
		height: 16px;
		margin-left: 20px;
		padding: 5px;
		width: 16px;

		&:hover {
			background-color: lighten(@grey-dark, 20%);
			border-radius: 50%;
		}
	}

	.form {
		border-radius: 0 0 @border-radius @border-radius;
		padding: 15px 20px 15px 15px;
	}

	.field {
		align-items: center;
		display: flex;
		padding: 10px 0;
		white-space: nowrap;
	}

	.input {
		border: 1px solid @grey;
		border-radius: @border-radius;
		display: inline;
		margin-right: 10px;
		padding: 5px;
		width: 35px;

		&:hover {
			border-color: @black;
		}
	}

	.text {
		color: @grey-dark;
	}

	.title {
		margin-bottom: 10px;
		white-space: nowrap;
	}

	.submit {
		margin-top: 10px;
	}

	.iconError {
		color: @error !important;
	}

	.inputError {
		border-color: @error !important;
	}
}
