:local {
	.container {
		background-color: white;
		height: 100%;
	}

	.legend {
		cursor: pointer;
		overflow: auto;
		position: absolute;

		&.position_bottom {
			inset: auto 0px 0px;
			padding: 10px 0 0 10px;
		}

		&.position_left {
			inset: 0px 0px auto;
			padding: 15px 0 0 15px;
		}

		&.position_right {
			inset: 0px 0px auto auto;
			padding: 15px 0;
		}

		&.position_top.display_inline, &.position_bottom.display_inline{
			display: block;

			.legendItem {
				display: inline-block;
			}
		}

		&.text_handler_crop {
			.legendItem {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&.text_handler_wrap {
			.legendItem  {
				white-space: normal;
			}
		}
	}

	.legendItem {
		margin-bottom: 5px;
	}

	.legendItemBox {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin: 0 5px;
	}
}
