:local {
	.PanelHeaderWrap {
		background-color: #F4F4F4;
		height: 48px;
		position: fixed;
		width: 320px;
		z-index: 1;
	}

	.PanelHeaderContainer {
		display: grid;
		cursor: pointer;
		grid-template-columns: 1fr 1fr;
		height: 40px;
		padding: 4px 12px 4px 12px;
		text-align: center;
	}

	.lable {
		color: #323232;
		font-weight: 500;
		font-size: 13px;
		margin: 12px 12px 8px 12px;
		line-height: 15px;
	}

	.active {
		background: #4D92C8;
		height: 4px;
		margin: auto;
		margin-top: 8px;
		width: 20px;
	}

	.inActiveLable {
		color: #999999;
		font-weight: 500;
		font-size: 13px;
		margin: 12px 12px 13px 12px;
		line-height: 15px;
	}

	.inActiveLable:hover {
		color: #323232;
	}

}
