:local {
	.menuList {
		position: absolute;
		background: #FFFFFF;
		box-shadow: 0 2px 8px rgba(95, 95, 95, 0.2);
		border-radius: 2px;
		list-style: none;
		margin: 0 4px 0 0;
		padding: 6px 0;

		.menuListItem {
			cursor: pointer;
			font-size: 14px;
			line-height: 16px;
			padding: 8px 12px;
			white-space: nowrap;

			&:hover {
				background: #F2F2F2;
			}
		}
	}

	.disabled {
		cursor: default;
		opacity: 0.6;
	}
}
