@import '/styles/variables';

:local {
	.option {
		box-sizing: border-box;
		cursor: pointer;
		overflow: hidden;
		padding: 8px 24px;
		text-overflow: ellipsis;

		&:hover {
			background-color: @lightgrey;
		}
	}

	.found {
		font-weight: bold;
	}

	.label {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.selected {
		background-color: @gainsboro;
		border-top: 1px solid @white;
		border-bottom: 1px solid @white;
	}

	.label {
		font-size: 13px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
