@import '/styles/variables';

:local {
	.option {
		box-sizing: border-box;
		cursor: pointer;
		min-height: 32px;
		padding: 8px 24px;

		&:hover {
			background-color: @lightgrey;
		}
	}

	.found {
		font-weight: bold;
	}

	.selected {
		background-color: @gainsboro;
		border-top: 1px solid @white;
		border-bottom: 1px solid @white;
	}
}
