@import '/styles/variables';

:local {
	.button {
		align-items: center;
		border-radius: 2px;
		display: inline-flex;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		justify-content: center;
		line-height: 15px;
		padding: 8px 20px;
	}

	.block {
		text-align: center;
		width: 100%;
	}

	.info {
		.button();
		background-color: @info;
		color: @white;

		&:hover {
			background-color: darken(@info, 10%);
		}

		&:active {
			background-color: darken(@info, 15%);
		}

		&:disabled {
			background-color: @silver;
			color: @grey;
			cursor: not-allowed;
			pointer-events: none;

			&:active {
				background-color: darken(@silver, 10%);
			}
		}
	}

	.additional {
		.button();
		color: @black;

		&:hover {
			background: @lightgrey;
		}

		&:active {
			background-color: @silver;
		}
	}

	.simple {
		.button();
		color: @info;

		&:hover, :active {
			color: @black
		}

		&:disabled {
			color: @grey;
			cursor: not-allowed;
			pointer-events: none;
		}
	}
}
