:local {
	.singleContainerWrap{
		border-bottom: 2px solid #EBEBEB;;
		cursor: pointer;
	}

	.showAllContainer{
		align-items: center;
		display: flex;
		justify-content: start;
		margin-top: 4px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 4px;
	}

	.listBtnLabel {
		color: #5F5F5F;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px;
	}
}
