@import "/styles/variables.less";

:local {
	.addButton {
		align-items: center;
		display: flex;
		padding-left: 56px;
		width: 100%;

		&:hover {
			background-color: @silver;
		}
	}

	.addButtonIcon {
		padding: 6px;
	}

	.addButtonLabel {
		margin-left: 12px;
	}
}
