:local {
	.table {
		box-sizing: border-box;
	}

	.link {
		color: blue;
		cursor: pointer;
		text-decoration: underline;

		&.empty {
			text-decoration: none;
		}

		&:active {
			color: red;
		}
	}
}
