@import '/styles/variables';

:local {
	@offset: 16px;

	.modal {
		margin-top: 16px !important;
	}

	.content {
		padding: 16px 24px 20px 24px;
	}

	.field {
		margin-top: @offset;
	}

	.fieldSize {
		width: 300px;
	}

	.radioField {
		padding: 4px 0;
	}

	.shortField {
		margin-top: 12px;
		width: 300px;
	}

	.radioButton {
		padding-top: 16px;
	}

	.customSection {
		border-top: 1px solid @lightgrey;
		margin-top: @offset;
	}

	.infoPanel {
		margin-top: @offset;
	}

	.error {
		color: #EB5757;
		font-size: 11px;
	}

	.infoIcon {
		color: @info;
		height: 24px;
		padding: 5px;
		width: 24px;
	}
}
