@import "/styles/variables.less";

:local {
	.container {
		position: relative;

		&:hover {
			.icon {
				opacity: 1;
			}
		}
	}

	.icon {
		color: @darkgrey;
		cursor: pointer;
		opacity: 0;
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.input {
		border: 1px solid @grey;
		border-radius: @border-radius;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 14px;
		max-width: 100%;
		min-width: 100%;
		overflow: auto;
		padding: 8px 12px;

		&::placeholder {
			color: @grey;
			font-size: 13px;
		}
	}

	.labelContainer {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
	}

	.clearButton {
		color: @dimgrey;
		font-size: 13px;
		padding: 0;

		&:disabled {
			color: @grey
		}
	}
}
