@import '/styles/variables';

:local {
	.panel {
		background-color: @white;
		border-radius: @border-radius;
		display: flex;
		padding: 8px;
		position: absolute;
		right: 10px;
		top: 10px;
		visibility: hidden;
		z-index: 3;

		> * {
			margin-right: 2px;
		}
	}

	.markedIcon {
		svg {
			color: @info;
		}
	}
}
