@import "fonts";

body {
	font-family: Roboto, sans-serif;
}

html, body, #root {
	height: 100%;
	overflow: hidden;
}

.leaflet-marker-icon {
	box-shadow: 0 2px 8px rgba(95, 95, 95, 0.2);
	outline: none;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	width: 24px;

	&.active {
		height: 36px;
		width: 36px;
	}
}

.leaflet-tooltip {
	margin-top: -30px;
	margin-left: 20px;
}

.ymaps-2-1-79-image {
	box-shadow: 0 2px 8px rgba(95, 95, 95, 0.2);
}

