:local {
	.contentHeaderContainer {
		border-bottom: 2px solid  #EFF3F8;;
		display: flex;
		height: 56px;
	}

	.contentHeaderKebab {
		display: flex;
		width: 100%;
	}

	.contentHeader {
		align-items: center;
		display: flex;
		font-weight: normal;
		font-size: 13px;
		width: 100%;
		margin-left: 12px;
		margin-right: 20px;
		line-height: 15px;
	}

	.contentStatus {
		bottom: 2px;
		margin: 2px;
		left: 2px;
		top: 2px;
		width: 4px;
	}

	.kebabContainer {
		align-items: center;
		cursor: pointer;
		color: #FFFFFF;
		background: linear-gradient(270deg, #F4F4F4 0%, #F4F4F4 79.84%, rgba(244, 244, 244, 0.6) 92.5%, rgba(244, 244, 244, 0) 100%);
		display: flex;
		justify-content: flex-end;
		min-width: 60px;
		text-align: end;
	}

	.kebabContainer:hover,
	.kebabContainerActive {
		color: #EBEBEB;
	}

	.actionsContainer {
		background: #ffffff;
		cursor: pointer;
		min-width: 240px;
		padding-top: 6px;
		padding-bottom: 6px;
		position: absolute;
		right: 0px;
	}

	.actionItem {
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		padding-top: 8px;
		margin-left: 12px;
		margin-right: 20px;
		padding-bottom: 9px;
	}

	.actionContainer:hover {
		background: #E4E4E4;
	}

	.kebabIcon {
		margin-top: -10px;
	}

	.actionsContainer a {
		color: #323232;
		font-size: 13px;
		font-style: normal;
		font-weight: normal;
		height: 32px;
		min-width: 192px;
		text-decoration: none;
	}

	.contentHeaderKebab {
		.contentHeader {
			margin-right: 0px;
		}
	}
}
