@import "/styles/variables.less";

:local {
	.container {
		height: calc(100% - @top-bar-height - @top-bar-horizontal-padding);
		position: relative;
	}

	.grid {
		height: 100%;
		left: 0;
		margin: auto;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}
