:local {
    .icon {
        align-items: center;
        border-radius: 50%;
        color: #333;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        width: 24px;
			
        &:hover {
            background-color: #EBEBEB;
        }
    }

    .name {
        font-size: 14px;
        margin: 0;
    }

    .textWithIcon {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
