@import '/styles/variables';

:local {
	.icon {
		align-items: center;
		border: 1px solid @grey;
		display: flex;
		height: 16px;
		justify-content: center;
		margin-right: 12px;
		min-width: 16px;

		&:hover {
			border-color: @darkgrey;
		}
	}

	.input {
		display: none;
	}

	.container {
		align-items: center;
		color: @black;
		cursor: pointer;
		display: flex;
		font-size: 14px;
	}
}
