/* roboto-regular - cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
	url('../fonts/Roboto/roboto-v20-cyrillic-regular.woff') format('woff');
}
/* roboto-italic - cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
	url('../fonts/Roboto/roboto-v20-cyrillic-italic.woff') format('woff');
}
/* roboto-500 - cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('../fonts/Roboto/roboto-v20-cyrillic-500.woff') format('woff');
}
/* roboto-500italic - cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
	url('../fonts/Roboto/roboto-v20-cyrillic-500italic.woff') format('woff');
}
/* roboto-700 - cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
	url('../fonts/Roboto/roboto-v20-cyrillic-700.woff') format('woff');
}

// Arial
@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/ArialRegular.woff") format("woff")
}

@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/ArialBold.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial/ArialItalic.woff") format("woff");
	font-style: italic;
}
