.react-grid-layout {
	margin-bottom: 40px;
}

.react-grid-item > .react-resizable-handle {
	bottom: 0;
	cursor: se-resize;
	height: 20px;
	position: absolute;
	right: 0;
	width: 20px;
}

.react-grid-item > .react-resizable-handle::after {
	border-bottom: 2px solid rgba(0, 0, 0, .4);
	border-right: 2px solid rgba(0, 0, 0, .4);
	bottom: 3px;
	content: "";
	height: 5px;
	position: absolute;
	right: 3px;
	width: 5px;
}
