@color: #767676;
@font-size: 14px;

.dashboard__select {
	border: none;
	outline: none;
}

.dashboard__select__control {
	border-color: #BBBBBB;
	border-radius: 2px;
	box-shadow: none !important;

	&:hover {
		border-color: #BBBBBB !important;
	}
}

.dashboard__select__input {
	font-size: @font-size;
}

.dashboard__select__indicators {
	svg {
		margin-left: 15px;
	}
}

.dashboard__select__single-value {
	font-size: @font-size;
	width: 100%;
}

.dashboard__select__option {
	font-size: @font-size !important;

	&--is-focused {
		background-color: #EBEBEB !important;
	}

	&--is-selected {
		background-color: #F4F4F4 !important;
		color: #000 !important;
	}
}

.dashboard__select__placeholder {
	color: #000;
	font-size: @font-size;
}

.dashboard__select__menu {
	border: 1px solid #E4E4E4;
	border-radius: 0 !important;
	margin-top: 0 !important;
	z-index: 100 !important;
}
