@spacers: {
	m: margin;
	p: padding;
}

@positions: {
	t: top;
	r: right;
	b: bottom;
	l: left;
}

@breakpoints: 0, 1, 2, 3, 4, 5;

.applyProperty(@breakpoint, @property) when (@breakpoint = 0){
		@{property}: 0!important;
}

.applyProperty(@breakpoint, @property) when (@breakpoint = 1){
		@{property}: 10px!important;
}

.applyProperty(@breakpoint, @property) when (@breakpoint = 2){
		@{property}: 20px!important;
}

.applyProperty(@breakpoint, @property) when (@breakpoint = 3){
		@{property}: 30px!important;
}

.applyProperty(@breakpoint, @property) when (@breakpoint = 4){
		@{property}: 40px!important;
}

.applyProperty(@breakpoint, @property) when (@breakpoint = 5){
		@{property}: 50px!important;
}

.createByPositions(@abbrev, @spacer, @breakpoint) {
	each(@positions, {
		@positionProperty: @{spacer}-@{value};
		.@{abbrev}@{key}-@{breakpoint} {
			.applyProperty(@breakpoint, @positionProperty)
		}
	})
}

.createClasses(@abbrev, @spacer) {
	each(@breakpoints, {
		.@{abbrev}-@{value} {
				.applyProperty(@value, @spacer)
		}
		.createByPositions(@abbrev, @spacer, @value);
	})
}

each(@spacers, {
	.createClasses(@key, @value);
})



