body {
	background-color: @bg-color;
	font-family: Roboto;
	font-size: 15px;
	margin: 0;
}

html, body, #root{
	height: 100%;
	overflow: hidden;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;

	&:focus{
		outline:0;
	}
}

.ReactTable .pagination-bottom .-pagination {
	align-items: flex-end !important;
}

.tooltip-container {
	color: @info;
}

