body {
	background-color: @bg-color;
	font-family: Roboto;
	margin: 0;
}

html, body, #root{
	height: 100%
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;

	&:focus{
		outline:0;
	}
}

