/** colors */
@black: #323232;
@error: #EB5757;
@grey: #BBBBBB;
@grey-dark: #767676;
@grey-light: #EFF3F8;
@info: #4D92C8;
@primary: #085896;
@white: #FFFFFF;

@border-radius: 2px;

@top-bar-height: 52px;
@top-bar-horizontal-padding: 10px;

@grey-box-shadow: 0 0 5px @grey-dark;
