/** colors */
@primary: #085896;
@info: #4D92C8;
@grey: #999999;

@bg-color: #EFF3F8;

@input-color: #323232;
@input-border-radius: 4px;
@input-border-color: #cecece;

@top-bar-height: 48px;
@top-bar-horizontal-padding: 10px;
