/** colors */
@black: #323232;
@blue: #eff3f8;
@darkgrey: #767676;
@dimgrey: #5f5f5f;
@error: #EB5757;
@gainsboro: #f4f4f4;
@grey: #bbbbbb;
@greyBg: #D1D8E0;
@green: #6FCF97;
@info: #4D92C8;
@lightgrey: #dedede;
@primary: #085896;
@silver: #e4e4e4;
@steel: #D1D1D1;
@white: #FFFFFF;

@bgBlue: #F5F8FA;

@border-radius: 2px;

@top-bar-height: 52px;
@top-bar-horizontal-padding: 10px;

@box-shadow: 0px 2px 8px rgba(95, 95, 95, 0.2);
@grey-box-shadow: -2px 2px 12px @grey;
@select-box-shadow: 0 4px 16px rgba(95, 95, 95, .2);

@form-field-height: 32px;
