# IDE
.idea

# Node.js
node_modules

# builds
dist
*.zip

# git
commiter.sh
log.sh

# flow
flow-typed/npm

#smpsync
rest/stand.json

# .env
# .env*
# .env.develop

.DS_Store

# statistic
stats.json
bundle-stats.html

# localization temp file
.~lock*
src/localization/json/keys.js

src/api/fakeExecAPI/request.har
src/api/fakeExecAPI/*.json
