@import '/styles/variables';

:local {
	.container {
		border: 1px solid @silver;
		overflow-x: hidden;
		overflow-y: overlay;
	}

	.cell {
		border-right: 1px solid @silver;
		border-bottom: 1px solid @silver;
	}
}
