@import '/styles/variables';

:local {
	.body {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		overflow: auto;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			height: 5px;
			width: 5px;
		}
	}
}
