@import '/styles/variables';

:local {
	.item {
		background-color: @white;
		border-radius: 2px;
		box-shadow: 0 0 10px rgba(129, 146, 161, .4);
		box-sizing: border-box;
		cursor: pointer;
		height: 100%;
		outline: none;
	}

	.selectedItem {
		box-shadow: 0 0 12px @info;
	}
}
