@import '/styles/variables';

:local {
	.title {
		padding: 12px 0;
	}

	.nameField {
		margin-top: 8px;
		width: 300px;
	}

	.removeNameButton {
		margin-top: auto;
	}

	.groupSelectContainer {
		align-items: center;
		display: flex;
	}

	.infoPanel {
		margin-top: 16px;
	}

	.divider {
		background-color: @lightgrey;
		height: 1px;
		margin: 8px 0;
	}

	.infoIcon {
		margin-top: auto;
	}
}
