@import '/styles/variables';

:local {
	@offset: 24px;

	.title {
		font-weight: 500;
		padding-top: @offset;
	}

	.groupSelectContainer {
		align-items: center;
		display: flex;
	}

	.infoPanel {
		margin-top: @offset;
	}
}
