@import '/styles/variables';

:local {
	.form {
		box-sizing: border-box;
		padding-left: 10px;
	}

	.indicators {
		display: none;
	}

	.select {
		align-items: center;
		display: flex;
		height: 38px;
		justify-content: space-between;

		&:hover {
			.indicators {
				display: flex;
			}
		}
	}

	.disabledSelect {
		background: @gainsboro;
		color: @darkgrey;
		pointer-events: none;
	}

	.title {
		box-sizing: border-box;
		cursor: pointer;
		flex: auto;
		overflow: hidden;
		padding: 10px 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.defaultTitle {
		color: @darkgrey;
	}

	.loader {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: 38px;
		justify-content: center;
		padding: 10px;
		width: 38px;
	}
}
