:local {
    .panelEnter {
        transform: translateX(100%);
    }
      
    .panelEnter.panelEnterActive {
        transform: translateX(0%);
        transition: transform .3s ease-in;
    }

    .panelLeave {
        transform: translateX(0%);
    }

    .panelLeave.panelLeaveActive {
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }
}
