:local {
    .panelAnimationAppear {
        transform: translateX(100%);
    }
      
    .panelAnimationAppear.panelAnimationAppearActive {
        transform: translateX(0%);
        transition: transform .3s ease-in;
    }

    .panelAnimationLeave {
        transform: translateX(0%);
    }

    .panelAnimationLeave.panelAnimationLeaveActive {
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }
}

