@import "/styles/variables.less";

:local {
	.button {
		align-items: center;
		background-color: @blue;
		border-radius: @border-radius;
		color: @darkgrey;
		cursor: pointer;
		display: flex;
		height: 38px;
		justify-content: center;
		width: 100%;
	}
}
