:local {
	.text {
		color: #323232;
		cursor: pointer;
		display: flex;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		flex: 1;
		line-height: 16px;
		padding: 10px;
		justify-content: center;
	}
}
