@import '/styles/variables';

:local {
	.field {
		align-items: center;
		display: flex;
		margin-bottom: 12px;

		&:hover {
			.removeButton {
				visibility: visible;
			}
		}
	}

	.select {
		width: 260px;
	}

	.selectInput {
		border: none !important;
		box-sizing: border-box;
		height: 100% !important;
		padding: 8px 6px !important;
	}

	.removeButton {
		margin-left: 12px;
		visibility: hidden;
	}

	.indicatorsContainer {
		align-items: center;
		display: flex;
		height: 100%;

		.caret {
			border-left: 1px solid @grey;
			margin-left: 6px;
			padding: 4px;
		}
	}
}
