@import "/styles/variables.less";

:local {
	@combined-left-with: 80px;

	.container {
		position: relative;
	}

	.select {
		position: static;
	}

	.combinedContainer {
		.container();
		display: flex;
	}

	.combinedRef {
		width: @combined-left-with;
	}

	.combinedAttribute {
		width: calc(100% - @combined-left-with);
	}

	.parentInput {
		.container();
		margin-bottom: 10px;
	}

	.dynamicAttributesShowHandler {
		padding: 10px;
	}
}
