@import '/styles/variables';

:local {
	.tabs {
		align-items: center;
		background-color: #F2F2F2;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		padding: 0 63px;
		width: 100%;

		h3 {
			background: transparent;
			color: #737373;
			cursor: pointer;
			font-size: 14px;
			height: 30px;
			line-height: 28px;
			margin: 0;
			margin-top: 20px;
			text-align: center;
			width: 118px;

			&.active {
				background: white;
				color: black;
			}
		}
	}
}