@import '/styles/variables';

:local {
	.field {
		margin: 8px 0;
	}

	.label {
		color: @dimgrey;
		margin-bottom: 12px;
	}

	.row {
		display: flex;

		& > :nth-child(n+2) {
			margin-left: 8px;
		}
	}

	.small {
		margin: 4px 0;
	}
}
