@import '/styles/variables';

:local {
	@offset: 4px;

	.option {
		align-items: center;
		color: @darkgrey;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: @offset;
		padding: @offset;

		&:hover {
			background-color: @grey;
			border-radius: 30px;
		}
	}
}
