@import "~styles/colors";

:local {
	@dashAnimationName: 'dash';
	@rotateAnimationName: 'rotate';

	.spinner {
		animation: @rotateAnimationName 2s linear infinite;
		height: 50px;
		position: relative;
		width: 50px;
		z-index: 2;

		& .path {
			animation: @dashAnimationName 1.5s ease-in-out infinite;
			stroke-linecap: square;
			stroke: @color-main;
		}
	}

	@keyframes @dashAnimationName {
		0% {
			stroke-dasharray: 1, 150;
			stroke-dashoffset: 0;
		}

		50% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -35;
		}

		100% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -124;
		}
	}

	@keyframes @rotateAnimationName {
		100% {
			transform: rotate(360deg);
		}
	}
}

