body {
	margin: 0 !important;
	height: 100%;
	width: 100%;
}

:local {
	.mapContainer {
		height: 100%;
		min-height: 400px;
		position: fixed;
		width: 100%;
	}

	.mainContainer {
		height: 100%;
		position: fixed;
		width: 100%;
	}
}
