@import "/styles/variables.less";

:local {
	@combined-left-with: 80px;

	.combinedContainer {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	.combinedRef {
		width: @combined-left-with;
	}

	.combinedAttribute {
		width: calc(100% - @combined-left-with);
	}

	.parentInput {
		margin-bottom: 10px;
		position: relative;
	}
}
