:local {
	@combined-left-with: 80px;

	.combinedInputs {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	.combinedLeftInput {
		width: @combined-left-with;
	}

	.combinedRightInput {
		width: calc(100% - @combined-left-with);
	}

	.parentInput {
		margin-bottom: 10px;
		position: relative;
	}
}
