@import '/styles/variables';

:local {
	@offset: 24px;

	.container {
		align-items: center;
		display: flex;

		&:hover {
			.removeButton {
				opacity: 1;
			}
		}
	}

	.operand {
		display: flex;
		flex: auto;
		padding: 4px 0;
	}

	.fieldOffset {
		margin-left: @offset;
	}

	.dateField {
		.fieldOffset();
		width: 50%;
	}

	.dataContainer {
		display: flex;
		position: relative;
		width: 100%;
	}

	.numberField {
		.fieldOffset();
		width: 100%;
	}

	.operandSelect {
		min-width: 30%;
	}

	.orOperator {
		.fieldOffset();
	}

	.removeButtonContainer {
		.fieldOffset();
		align-items: center;
		display: flex;
		opacity: 1;
		width: 25px;
	}

	.hiddenRemoveButtonContainer {
		opacity: 0;
		pointer-events: none;
	}

	.error {
		left: @offset;
		position: absolute;
		top: 105%;
	};
}
