@import '/styles/variables';

:local {
	@offset: 24px;

	.container {
		align-items: start;
		display: flex;

		&:hover {
			.removeButton {
				opacity: 1;
			}
		}
	}

	.operandSelect {
		min-width: 30%;
	}

	.fieldOffset {
		margin-left: @offset;
	}

	.operandContainer {
		.fieldOffset();
		max-width: 400px;
		position: relative;
		width: 400px;
	}

	.operand {
		width: 100%;
	}

	.error {
		left: 0;
		position: absolute;
		top: 105%;
	}

	.orOperator {
		.fieldOffset();
	}

	.removeButtonContainer {
		.fieldOffset();
		align-items: center;
		display: flex;
		opacity: 1;
		width: 25px;
	}

	.hiddenRemoveButtonContainer {
		opacity: 0;
		pointer-events: none;
	}
}
