@import '/styles/variables';

:local {
    .actionButtons {
        align-self: center;
        background-color: transparent !important;
        cursor: pointer;
        display: block;
        height: 24px;
        margin: -4px;
        width: 24px;

        .caret {
            color: @ninegrey;
            margin: 4px;
            stroke: @ninegrey;
            &:hover {
                color: #666666;
                stroke: #666666;
            }
        }

        &:active {
            .caret {
                color: @black;
                stroke: @black;
            }
        }
    }

    .savedFilters {
        color: @black;
        padding: 0 40px;
    }

    .selectTransparent {
		background-color: transparent !important;
		border-radius: none;
		border: none;
		box-sizing: border-box;

        &:focus-within {
			border: none !important;
		}
    }

    .filterListOption:hover {
        background-color: #f2f2f2;
    }

    .filterListMessage {
        font-size: 13px;
        line-height: 15px;
        min-height: auto;
        padding-bottom: 4px;
        padding-top: 4px;
        text-align: center;
    }
}
