:local {
	.PanelHeaderWrap {
		background-color: #F4F4F4;
		height: 48px;
	}

	.PanelHeaderContainer {
		display: grid;
		cursor: pointer;
		grid-template-columns: 1fr 1fr;
		height: 40px;
		padding: 4px 10px 4px 10px;
		text-align: center;
	}

	.lable {
		font-weight: 500;
		font-size: 13px;
		margin-top: 12px;
		line-height: 15px;
	}

	.active {
		background: #4D92C8;
		height: 4px;
		margin: auto;
		margin-top: 7px;
		width: 20px;
	}

	.inActiveLable {
		color: #999999;
		font-weight: 500;
		font-size: 13px;
		margin-top: 12px;
		line-height: 15px;
	}
}
