@import '/styles/variables';

:local {
	.border {
		border-top: 1px solid #EBEBEB;
		position: relative;
	}

	.bigButton {
		position: absolute;
		bottom: 0;
		right: -50px;
		top: 0;
		width: 1000%;
	}

	.button {
		border-radius: 0;
		display: flex;
		font-size: 13px;
		font-weight: normal;
		justify-content: start;
		padding: 12.5px 0;
		position: relative;
		text-align: start;
		width: 100%;

		&:hover,
		&:focus {
			background-color: #F2F2F2;
			border-radius: 0;

			&:before {
				background-color: #F2F2F2;
				content: "";
				height: 100%;
				position: absolute;
				right: -50px;
				top: 0;
				width: 1000%;
				z-index: -1;
			}
		}

		&[disabled] {
			color: lightgrey;
			cursor: not-allowed;
		}

		&[disabled] svg {
			color: lightgrey;
			cursor: not-allowed;
		}

		&[disabled] .bigButton {
			display: none;
		}
	}

	.container {
		align-items: start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 4px 14px 8px 0;
	}

	.list {
		margin: 0;
		padding: 0;
	}

	.item {
		align-items: center;
		display: flex;
		padding: 10px 30px;
		flex-direction: row;
		justify-content: space-between;

		&:last-child {
			opacity: .7;
			pointer-events: none;

			& input {
				opacity: .7;

				&::placeholder {
					color: #767676 !important;
				}
			}
		}
	}

	.title {
		max-width: 40%;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 40%;
	}

	.select {
		padding-bottom: 12px;
		padding-top: 4px;
		width: 100%;
	}

	.checkbox {
		padding-bottom: 8px;
		padding-top: 8px;
		width: 100%;
	}

	.checkbox > div {
		justify-content: start;
		padding-left: 2px;
		padding-right: 2px;
		width: 100%;
	}

	.header {
		align-items: center;
		display: flex;
		flex-direction: row;
		font-size: 13px;

		& span {
			margin-left: 13px;
		}
	}

	.valueField {
		margin-bottom: 8px;
	}

	.desc {
		font-size: 13px;
		margin-left: 16px;
	}

	.sourceTreeSelect {
		background-color: @white;
		border-radius: @border-radius;
		border: 1px solid @grey;
		box-sizing: border-box;
		color: @black;
		cursor: pointer;
		font-size: 13px;
		height: 32px;
		margin-top: 5px;
		padding: 1px 12px;
		position: relative;
		width: 100%;

		&:hover {
			.clearLabelIcon {
				display: block;
			}
		}

		&:focus-within {
			border: 1px solid @info;
		}

		& > div {
			border-bottom: none;
		}
	}

	.label {
		color: #737373;
		font-size: 13px;
	}

	.margin {
		margin: 5px 0 0;
	}

	.selectIcon svg {
		fill: #999999;
	}

	.selectWidth {
		max-width: 60%;
	}

	.width {
		width: 100%;
	}

	.disabledValueField {
		opacity: 0.8;
		pointer-events: none;
	}
}
