@import '/styles/variables';

:local {
	.cellContainer {
		align-items: stretch;
		cursor: pointer;
		display: flex;
		flex: 1 0 auto;
		justify-content: center;
		position: relative;
	}

	.fixedCellContainer {
		background-color: white;
		position: sticky;
		z-index: 1;
	}

	.sortAsc {
		box-shadow: inset 0 3px 0 0 @dimgrey;
	}

	.sortDesc {
		box-shadow: inset 0 -3px 0 0 @dimgrey;
	}

	.resizer {
		bottom: 0;
		cursor: col-resize;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		z-index: 99;
	}
}
