@import '/styles/variables';

:local {
	@offset: 16px;

	.modal {
		margin-top: 16px !important;
	}

	.content {
		padding: 16px 24px 20px 24px;
	}

	.wayLabel {
		margin-top: 12px;
		padding: 8px 0;
	}

	.radioField {
		padding: 4px 0;
	}

	.infoPanel {
		margin-top: @offset;
	}

	.error {
		color: #EB5757;
		font-size: 11px;
	}

	.infoIcon {
		color: @info;
		height: 24px;
		padding: 5px;
		width: 24px;
	}

	.divider {
		background-color: @lightgrey;
		height: 1px;
		margin: 8px 0;
	}
}
