:local {
	.container {
		left: 0;
		position: fixed;
		top: 0;
		z-index: 100;

		&.modal {
			bottom: 0;
			right: 0;
		}
	}

	.portal {
		pointer-events: none;
		position: absolute;

		> :nth-child(n)  {
			pointer-events: all;
		}
	}
}
