@import '/styles/variables';

:local {
	.form {
		background-color: @gainsboro;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: auto;
	}

	.ieForm {
		display: block;
	}

	.header {
		padding: 14px 24px;
	}

	.title {
		color: @black;
		font-size: 15px;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.content {
		background-color: @white;
		flex: auto;
	}

	.footer {
		padding: 15px 20px;
	}

	.cancelButton {
		margin-left: 10px;
	}
}
