:local {
	.panelWrap {
		height: calc(100% - 20px);
		overflow: hidden;
		padding-top: 10px;
		padding-right: 56px;
	}

	.panelContainer::-webkit-scrollbar {
		display: none;
	}

	.panelContainer {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.panelContainer {
		background: #FFFFFF;
		height: 100%;
		margin-left: auto;
		margin-bottom: 10px;
		overflow-y: auto;
		position: relative;
		width: 320px;
	}
}
