:local {
	.colorsList {
		display: flex;
		flex-wrap: wrap;
	}

	.colorsItem {
		cursor: pointer;
		margin-right: 2px;
	}

	.colorsSvg {
		border: 1px solid transparent;
		border-radius: 2px;
		color: inherit;
		fill: currentColor;
	}

	.checked {
		border-color: #9c9c9c;
	}
}
