@import '/styles/variables';

:local {
	.form {
		background-color: @white;
		border-radius: @border-radius;
		border: 1px solid @grey;
		box-sizing: border-box;
		color: @black;
		font-size: 13px;
		height: 32px;
		padding: 8px 12px;
		position: relative;

		input {
			border-bottom: 0px;
			font-size: 13px;
		}
	}
}