:local {
	.bold {
		font-weight: bold;
	}

	.underline {
		text-decoration: underline;
	}

	.italic {
		font-style: italic;
	}

	.crop {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.wrap {
		word-wrap: break-word;
	}
}
