:local {
	.option {
		cursor: text;
		font-family: Roboto;
		font-size: 13px;
		font-style: normal;
		font-weight: normal;
		line-height: 16px;
		margin-right: 20px;
		margin-left: 20px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.optionFlex {
		display: flex;
	}
	
	.option:last-child {
		border-bottom: none;
	}

	.optionLine {
		color: #323232;
		display: block;
		line-height: 15px;
		width: 265px;
	}

	.optionUnder{
		color: #323232;
		display: block;
		line-height: 15px;
		margin-top: -5px;
		width: 265px;
	}

	.optionLeft {
		color: #999999;
		display: block;
		font-weight: normal;
		line-height: 15px;
		margin-top: 4px;
		margin-right: 20px;
		margin-bottom: 5px;
		width: 100px;
	}

	.optionRight {
		color: #323232;
		display: block;
		margin: auto;
		width: 186px;
	}
}
