:local {
	.error {
		align-self: flex-start;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		justify-self: center;
		padding: 11px 12px;
		text-align: left;
	}

	.message {
		font-size: 0.8rem;
		line-height: 1.1rem;
		margin: 0;
		padding: 4px;
		width: 100%;
	}
}
