@import '/styles/variables';

:local {
	.container {
		background-color: white;
		box-sizing: border-box;
		font-weight: 400;
		height: 100%;
		height: 100%;
		overflow: auto;
		position: relative;
		scrollbar-width: thin;
		user-select: none;
		width: 100%;

		&::-webkit-scrollbar {
			height: 5px;
			width: 5px;
		}
	}

}
