@import '/styles/variables';

:local {
	.searchInfo {
		background-color: @gainsboro;
		color: @darkgrey;
		padding: 12px 40px;
	}

	.searchValue {
		background-color: @gainsboro;
		padding: 12px 40px;
		text-overflow: ellipsis;
		white-space: nowrap;

		span {
			color: @darkgrey;
		}
	}
}
