:local {
	.panelWrap {
		height: 100%;
		overflow: hidden;
		width: 320px;
	}

	.panelContainer {
		background: #FFFFFF;
		height: 100%;
		margin-bottom: 10px;
		overflow: hidden;
		padding-top: 38px;
		position: relative;
		overflow-y: auto;
	}

	.panelContentContainer {
		background: #FFFFFF;
		height: 100%;
		margin-left: auto;
		overflow-y: auto;
		position: relative;
		width: 320px;
	}

}
