@import '/styles/variables';

:local {

	.filterItem:not(:first-child) {
		padding-top: 16px;
	}

	.filterItem:not(:last-child) {
		border-bottom: 1px solid #EBEBEB;
		padding-bottom: 16px;
	}

	.attributeFormField {
		margin-bottom: 12px;
	}

	.labelView {
		align-items: center;
		color: @black;
		display: flex;
		font-size: 13px;
		font-weight: bold;
		height: 16px;
	}

	.labelViewLabel {
		flex: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.labelViewButtons {
		column-gap: 11px;
		display: flex;
	}

	.labelEditorForm {
		padding: 0px 24px 1px 24px;
	}

	.form {
		font-size: 13px;

		input {
			font-size: 13px;
		}
	}
}
