@import '/styles/variables';

:local {
	.attributeFormField {
		margin-bottom: 12px;
	}

	.labelView {
		align-items: center;
		color: @black;
		display: flex;
		font-size: 13px;
		font-weight: bold;
		padding: 8px 24px 4px 24px;
		height: 16px;
	}

	.labelViewLabel {
		flex: auto;
	}

	.labelViewButtons {
		display: flex;
	}

	.labelEditorForm {
		padding: 0px 24px 1px 24px;
	}

	.form {
		font-size: 13px;

		input {
			font-size: 13px;
		}
	}
}
