@import "/styles/variables.less";

:local {
	.container {
		bottom: 0;
		position: absolute;
		top: 0;
		user-select: none;
		z-index: 1;

		&.leftPosition {
			box-shadow: 2px 2px 12px rgba(129, 146, 161, 0.2);
			left: 0
		}

		&.rightPosition {
			box-shadow: -2px 2px 12px rgba(129, 146, 161, 0.2);
			right: 0;
		}
	}

	.swipedContainer {
		&.leftPosition {
			right: 100%;
			left: auto;
		}
		&.rightPosition {
			left: 100%;
		}
	}

	.drawerControl {
		background-color: @white;
		border-radius: 4px;
		box-shadow: 0px 2px 8px rgba(95, 95, 95, 0.2);
		cursor: pointer;
		height: 20px;
		padding: 3px 3px;
		position: absolute;
		top: 6px;
		width: 20px;
		z-index: 3;

		&.drawerControlLeft {
			right: -36px;
		}

		&.drawerControlRight {
			left: -36px
		}
	}

	.activeDrawerControl {
		background-color: @steel;
		bottom: 0;
		height: auto;
		padding: 15px 0;
		top: 0;

		&.drawerControlLeft {
			left: auto;
			right: -20px;
		}

		&.drawerControlRight {
			left: -20px;
			right: auto;
		}

		.drawerIcon {
			color: @darkgrey;
			stroke: @darkgrey;

			&:hover {
				color: @black;
				stroke: @black;
			}
		}
	}


	.drawerIcon {
		color: @grey;
		padding: 2px;
		stroke: @grey;

		&:hover {
			color: @darkgrey;
			stroke: @darkgrey;
		}

		&:active {
			color: @black;
			stroke: @black;
		}
	}

	.fallback {
		background-color: @gainsboro;
		height: 100%;
		overflow-y: auto;
		padding-top: 2em;
		text-align: center;
	}

	.resizer {
		background-color: @white;
		bottom: 0;
		cursor: col-resize;
		padding: 15px 0;
		position: absolute;
		top: 0;
		width: 2px;
		z-index: 3;

		&.leftPosition {
			right: 0;
		}

		&.rightPosition{
			left: 0;
		}
	}

	.content {
		bottom: 0;
		background-color: @gainsboro;
		display: flex;
		flex-direction: column;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.title {
		align-content: center;
		align-items: center;
		background-color: @gainsboro;
		color: @black;
		display: flex;
		font-size: 15px;
		font-weight: 500;
		justify-content: center;
		padding: 14px 20px;
		text-overflow: ellipsis;
		white-space: nowrap;

		:nth-child(1) {
			flex: 1 1 auto;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		:last-child {
			margin-left: 2px;
		}
	}

	.positionButton {
		height: 24px;
		padding-top: 5px;
		width: 32px;

		&.active {
			background-color: @lightgrey;
		}
	}


	.contentPlace {
		height: 100%;
		overflow-y: auto;
	}
}
