@import "/styles/variables.less";

:local {
	.content {
		background-color: @greyBg;
		height: calc(100% - @top-bar-height);
		position: relative;
	}

	@supports (-moz-appearance:none) {
		.content {
			height: calc(100% - 69px);
		}
	}
}
