@import '/styles/variables';

:local {
	.container {
		min-height: 100px;
		padding: 24px;
	}

	.button {
		height: 32px;
		width: 32px;
	}

	.element {
		align-items: center;
		display: flex;
		gap: 15px;
		justify-content: flex-start;
		margin-bottom: 15px;
	}

	.footer {
		display: flex;
		justify-content: flex-end;
	}
}
